
.VIS_edit-secret-key-dialog .VIS_container-key {
    padding: 5px;
    padding-top: 0px;
    border-radius: 10px;
    width: 100%;
}

.VIS_edit-secret-key-dialog h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.VIS_edit-secret-key-dialog label {
    margin: 0px 0 2px;
    font-weight: bold;
}

.VIS_edit-secret-key-dialog input[type="text"], .VIS_edit-secret-key-dialog select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.VIS_edit-secret-key-dialog .VIS_toggle-switch {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 2px;
}

    .VIS_edit-secret-key-dialog .VIS_toggle-switch input[type="checkbox"] {
        display: none;
    }

    .VIS_edit-secret-key-dialog .VIS_toggle-switch label {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        background-color: #ccc;
        border-radius: 20px;
        cursor: pointer;
    }

        .VIS_edit-secret-key-dialog .VIS_toggle-switch label::after {
            content: "";
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: white;
            border-radius: 50%;
            top: 1px;
            left: 1px;
            transition: 0.3s;
        }

    .VIS_edit-secret-key-dialog .VIS_toggle-switch input[type="checkbox"]:checked + label {
        background-color: rgba(var(--v-c-primary), 1);
    }

        .VIS_edit-secret-key-dialog .VIS_toggle-switch input[type="checkbox"]:checked + label::after {
            transform: translateX(20px);
        }

    .VIS_edit-secret-key-dialog .VIS_toggle-switch span {
        margin-left: 10px;
    }

.VIS_edit-secret-key-dialog .VIS_buttons {
    /*display: flex;*/
    float: right;
    justify-content: space-between;
}

    .VIS_edit-secret-key-dialog .VIS_buttons button {
        padding: 8px 20px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
    }

    .VIS_edit-secret-key-dialog .VIS_buttons .VIS_cancel {
        background: rgba(var(--v-c-primary), 1);
        color: rgba(var(--v-c-on-primary), 1) !Important;
        margin-right: 10px;
    }

    .VIS_edit-secret-key-dialog .VIS_buttons .VIS_save {
        background: rgba(var(--v-c-primary), 1);
        color: rgba(var(--v-c-on-primary), 1) !Important;
    }
/* for confirm passwor box*/

.VIS-key-confirm-password .VIS-popup-header h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.VIS-key-confirm-password .VIS-popup-header p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.VIS-key-confirm-password .VIS-popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VIS-key-confirm-password .VIS-popup-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.VIS-key-confirm-password .VIS-popup-button {
    padding: 10px 20px;
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1) !Important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    float: right;
}

    .VIS-key-confirm-password .VIS-popup-button:hover {
        background-color: rgba(var(--v-c-primary), 2);
    }
/*End for confirm passwor box*/



.VIS-save-secret-key-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.VIS-save-secret-key-container p {
    color: #555;
    margin-bottom: 15px;
}

    .VIS-save-secret-key-container p strong {
        font-weight: bold;
    }

.VIS-save-secret-key-key-container {
    display: flex;
    align-items: center;
    border: 2px solid #0bbd7e;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    border-color: rgba(var(--v-c-primary), 1);
}

    .VIS-save-secret-key-key-container input[type="text"] {
        border: none;
        outline: none;
        flex: 1;
        font-size: 14px;
        background-color: transparent;
    }

.VIS-save-secret-key-copy-btn {
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1) !Important;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
}

.VIS-save-secret-key-done-btn {
    padding: 10px 20px;
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1) !Important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    float: right;
}


/* css form table */


.VIS-table-container {
    width: 70%;
    padding: 10px 1px 10px 1px;
    overflow-x: auto;
}

.VIS-key-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

    .VIS-key-table th,
    .VIS-key-table td {
        padding: 12px 15px;
        text-align: left;
        font-size: 14px;
        color: #333;
        height: 70px;
        padding-right: 0px;
    }

    .VIS-key-table thead {
        /*background-color: #f4f4f4;*/
        color: #666;
        font-weight: 600;
        border-bottom: 1px solid #e6e6e6;
    }

    .VIS-key-table tbody tr {
        border-bottom: 1px solid #e6e6e6;
    }

        .VIS-key-table tbody tr:last-child {
            border-bottom: none;
        }

    .VIS-key-table td {
        color: #333;
    }

.VIS-key-edit-btn,
.VIS-key-delete-btn {
    background: none;
    border: none;
    cursor: pointer;
/*    margin-left: 8px;
*/    font-size: 14px;
}

    .VIS-key-edit-btn i {
        color: rgba(var(--v-c-primary), 1);
        font-size: 20px;
    }

    .VIS-key-delete-btn i {
        color: #dc3545;
        font-size: 20px;
    }

    .VIS-key-edit-btn .VIS-edit-btn:focus {
        box-shadow: none !important;
        border: none;
    }

.VIS-key-status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.VIS-key-green-dot {
    background-color: green;
}

.VIS-key-grey-dot {
    background-color: grey;
}

p.VIS-secret-key-p-content {
    text-align: justify;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1rem !important;
}



.VIS-key-popup-container {
    box-sizing: border-box;
    height: auto;
    max-height: 64vh;
    overflow-y: auto;
    background: #fff;
    padding: 0 5px 0 5px;
}

.VIS-confirm-password-container {
    padding: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    height: auto;
    max-height: 64vh;
    overflow-y: auto;
    background: #fff;
}

.VIS-key-error-message {
    display: none;
    color: red;
    font-size: 14px;
}

.VIS-copy-tick-icon {
    font-size: 18px;
}

.VIS-Key-ellipse-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 122px; /* or whatever width fits your layout */
    display: inline-block; /* or block/flex depending on context */
    vertical-align: middle;
}