
.VIS_edit-secret-key-dialog .VIS_container-key {
    padding: 5px;
    padding-top: 0px;
    border-radius: 10px;
    width: 100%;
}

.VIS_edit-secret-key-dialog h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.VIS_edit-secret-key-dialog label {
    margin: 0px 0 2px;
    font-weight: bold;
}

.VIS_edit-secret-key-dialog input[type="text"], .VIS_edit-secret-key-dialog select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.VIS_edit-secret-key-dialog .VIS_toggle-switch {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 2px;
}

    .VIS_edit-secret-key-dialog .VIS_toggle-switch input[type="checkbox"] {
        display: none;
    }

    .VIS_edit-secret-key-dialog .VIS_toggle-switch label {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        background-color: #ccc;
        border-radius: 20px;
        cursor: pointer;
    }

        .VIS_edit-secret-key-dialog .VIS_toggle-switch label::after {
            content: "";
            position: absolute;
            width: 18px;
            height: 18px;
            background-color: white;
            border-radius: 50%;
            top: 1px;
            left: 1px;
            transition: 0.3s;
        }

    .VIS_edit-secret-key-dialog .VIS_toggle-switch input[type="checkbox"]:checked + label {
        background-color: rgba(var(--v-c-primary), 1);
    }

        .VIS_edit-secret-key-dialog .VIS_toggle-switch input[type="checkbox"]:checked + label::after {
            transform: translateX(20px);
        }

    .VIS_edit-secret-key-dialog .VIS_toggle-switch span {
        margin-left: 10px;
    }

.VIS_edit-secret-key-dialog .VIS_buttons {
    /*display: flex;*/
    float: right;
    justify-content: space-between;
}

html[dir="rtl"] .VIS_edit-secret-key-dialog .VIS_buttons {
    /*display: flex;*/
    float: left;
    justify-content: space-between;
}

.VIS_edit-secret-key-dialog .VIS_buttons button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.VIS_edit-secret-key-dialog .VIS_buttons .VIS_cancel {
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1) !Important;
 
}

.VIS_edit-secret-key-dialog .VIS_buttons .VIS_save {
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1) !Important;
    margin-right: 10px;
}
/* for confirm passwor box*/

.VIS-key-confirm-password .VIS-popup-header h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.VIS-key-confirm-password .VIS-popup-header p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.VIS-key-confirm-password .VIS-popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VIS-key-confirm-password .VIS-popup-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.VIS-key-confirm-password .VIS-popup-button {
    padding: 10px 20px;
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1) !Important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    float: right;
}

    .VIS-key-confirm-password .VIS-popup-button:hover {
        background-color: rgba(var(--v-c-primary), 2);
    }
/*End for confirm passwor box*/



.VIS-save-secret-key-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.VIS-save-secret-key-container p {
    color: #555;
    margin-bottom: 15px;
}

    .VIS-save-secret-key-container p strong {
        font-weight: bold;
    }

.VIS-save-secret-key-key-container {
    display: flex;
    align-items: center;
    border: 2px solid #0bbd7e;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    border-color: rgba(var(--v-c-primary), 1);
}

    .VIS-save-secret-key-key-container input[type="text"] {
        border: none;
        outline: none;
        flex: 1;
        font-size: 14px;
        background-color: transparent;
    }

.VIS-save-secret-key-copy-btn {
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1) !Important;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
    width: 57px;
    height: 37px;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.VIS-save-secret-key-done-btn {
    padding: 10px 20px;
    background: rgba(var(--v-c-primary), 1);
    color: rgba(var(--v-c-on-primary), 1) !Important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    float: right;
}


/* css form table */


.VIS-table-container {
    width: 100%; /* full responsive width */
    max-width: 1200px; /* optional max width */
    padding: 10px 5px 10px 2px;
    overflow-x: auto; /* scroll if overflow */
    margin: 0 auto; /* center align */
}

.VIS-key-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    table-layout: auto; /* let browser auto adjust */
}

    .VIS-key-table th,
    .VIS-key-table td {
        padding: 12px 15px;
        text-align: left;
        font-size: 14px;
        color: #333;
        height: 70px;
        vertical-align: middle;
        word-break: break-word; /* break long text */
        white-space: normal; /* wrap text if too long */
    }

    .VIS-key-table thead {
        color: #666;
        font-weight: 600;
        border-bottom: 1px solid #e6e6e6;
    }

    .VIS-key-table tbody tr {
        border-bottom: 1px solid #e6e6e6;
    }

        .VIS-key-table tbody tr:last-child {
            border-bottom: none;
        }


.VIS-key-edit-btn,
.VIS-key-delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

    .VIS-key-edit-btn i {
        color: rgba(var(--v-c-primary), 1);
        font-size: 20px;
    }

    .VIS-key-delete-btn i {
        color: #dc3545;
        font-size: 20px;
    }

    .VIS-key-edit-btn .VIS-edit-btn:focus {
        box-shadow: none !important;
        border: none;
    }

.VIS-key-status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

.VIS-key-green-dot {
    background-color: green;
}

.VIS-key-grey-dot {
    background-color: grey;
}



p.VIS-secret-key-p-content {
    text-align: justify;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1rem !important;
}



.VIS-key-popup-container {
    box-sizing: border-box;
    height: auto;
    max-height: 64vh;
    overflow-y: auto;
    background: #fff;
    padding: 0 5px 0 5px;
}

.VIS-confirm-password-container {
    padding: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    height: auto;
    max-height: 64vh;
    overflow-y: auto;
    background: #fff;
}

.VIS-key-error-message {
    display: none;
    color: red;
    font-size: 14px;
    padding-top: 10px;
}

.VIS-copy-tick-icon {
    font-size: 18px; /* increase icon size */
    /*line-height: 1;*/ /* remove vertical spacing */
    display: inline-block;
}



.VIS-Key-ellipse-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px; /* or whatever width fits your layout */
    display: inline-block; /* or block/flex depending on context */
    vertical-align: middle;
}


.VIS-Create-Api-Section .VIS_Pref_close-btn {
    position: relative !important;
    float: right !important;
}

/* RTL override */
html[dir="rtl"] .VIS-Create-Api-Section .VIS_Pref_close-btn {
    position: relative !important;
    float: left !important;
}

html[dir="rtl"] .VIS-key-confirm-password .VIS-popup-button {
    float: left;
}

html[dir="rtl"] .VIS-save-secret-key-done-btn {
    float: left !Important;
}


html[dir="rtl"] .VIS_edit-secret-key-dialog .VIS_buttons .VIS_cancel {
    margin-right: 10px;
    float: left;
}

html[dir="rtl"] .VIS_edit-secret-key-dialog .VIS_toggle-switch span {
   margin-right: 10px;
}

.VIS-editkey-input-border {
    border: 1px solid red !important;
}

.VIS_edit-secret-key-dialog .VIS_buttons .VIS_save:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

    /* Prevent hover effect on disabled */
    .VIS_edit-secret-key-dialog .VIS_buttons .VIS_save:disabled:hover {
        opacity: 0.5;
        background: rgba(var(--v-c-primary), 1);
    }

.VIS_Key-text-input {
    padding: 2px 25px 2px 9px !important
}

/*css for project list input keygen section*/
.vis-project-select {
    height: 34px;
    display: flex;
    align-items: center;
    direction: inherit;
    padding: 0; 
}

    /* Select box */
    .vis-project-select select {
        flex: 1;
        height: 100%;
        /*border: 1px solid rgba(var(--v-c-on-secondary), .2);*/
        border-inline-end: none; 
    }

    /* Zoom button */
    .vis-project-select .vis-zoom-btn {
        width: 34px;
        height: 34px;
        border: 1px solid rgba(var(--v-c-on-secondary), .2);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: rgba(var(--v-c-primary), 1);
        color: white;
        flex-shrink: 0;
    }
.vis-project-pass {
    border: none !important;
    padding: 0;
}
/* Apply a consistent focus style to all form controls */
.VIS_Pref_pass:focus,
.VIS_Pref_pass select:focus,
.VIS_Pref_pass input:focus,
.VIS_Pref_pass button:focus,
.VIS_Pref_pass textarea:focus {
    outline: none; /* remove default browser outline */
    border: 1px solid rgba(var(--v-c-primary), 1) !important; /* strong highlight */
    box-shadow: 0 0 0 2px rgba(var(--v-c-primary), 0.25); /* subtle glow */
    z-index: 1;
}


/*Edit popup*/
.VIS_edit-secret-key-dialog:focus,
.VIS_edit-secret-key-dialog select:focus,
.VIS_edit-secret-key-dialog input:focus,
.VIS_edit-secret-key-dialog button:focus,
.VIS_edit-secret-key-dialog textarea:focus {
    outline: none; /* remove default browser outline */
    border: 1px solid rgba(var(--v-c-primary), 1) !important; /* strong highlight */
    box-shadow: 0 0 0 2px rgba(var(--v-c-primary), 0.25); /* subtle glow */
    z-index: 1;
}


.VIS-key-confirm-password:focus,
.VIS-key-confirm-password input:focus,
.VIS-key-confirm-password button:focus {
    outline: none; /* remove default browser outline */
    border: 1px solid rgba(var(--v-c-primary), 1) !important; /* strong highlight */
    box-shadow: 0 0 0 2px rgba(var(--v-c-primary), 0.25); /* subtle glow */
}




