:root {
    --v-c-secondary: 69, 73, 76 !important;
    /*--v-c-on-secondary: 189,193,198 !important;*/
    --v-c-on-secondary: 220, 223, 227 !important;
    /*--v-c-on-secondary: 241, 241, 241 !important;*/
    --v-c-bg-color: 60, 64, 67;
    --v-c-th-secondary: 69, 73, 76 !important;
    --v-c-th-on-secondary: 220, 223, 227 !important;
    --v-c-common: 60, 64, 67;
    --v-c-dark: 255, 255, 255;
}

body * {
    /*color: rgba(var(--v-c-on-secondary), 1);*/
}
input[type="date"],
input[type="time"] {
    color-scheme: dark;
}
body,
#vis_mainMenu,
.vis-removeFilter,
.ui-widget-content,
.vis-ad-w-p-vc,
.vis-ad-w-p-s-plst li:not(:first-child),
.vis-ad-w-p-a-m-lst span,
.ui-dialog .ui-dialog-content,
.vis-cv-main,
.vis-cv-header p,
.vis-cv-cardlist,
.vis-fp-outerwrp,
.vis-thed-tablewrap,
.vis-window-instruc-overlay-new-li,
.k-editor .k-content,
.vis-nav-AllItems-Header,
.vis-report-a-r-container,
.vis-attach-main-wrap,
.vis-workflowActivityDetails,
table.k-editor,
.k-editor .k-editable-area {
    background: rgb(var(--v-c-bg-color));
}
input:not([type=button]),
select,
select option,
textarea,
.vis-ad-w,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even,
.vis-cv-groupHeader,
.vis-fp-custcolumns .card,
.vis-theme-drp-wrp .dropdown-menu,
.vis-two-sec-one,
.vis-email-rootDiv,
.vis-Email-ContentWrap,
.k-content,
.k-editable-area,
.k-panel > li.k-item,
.k-panelbar > li.k-item, .k-tiles,
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
.form-control:focus {
    background-color: rgb(var(--v-c-bg-color));
}

.vis-welcomeScreenContainer,
.ui-widget input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button "]):not(.VIS_Pref_btn-2),
.ui-widget textarea {
    background-color: transparent;
}
.vis-welcomeScreenTabMenu li {
    border-right: 1px solid rgb(var(--v-c-bg-color));
}
.vis-navSearchWrap,
.vis-navSearchWrap input:not([type=button]),
.w2ui-overlay,
.vis-attachhistory-table-wrap,
.vis-attachhistory-right-wrap,
.VIS_Pref_err-btn,
.vis-email-leftDiv,
.vis-sms-leftDiv,
.vis-report-table-head,
.vis-workflowActivityContainer,
.VIS_Pref_close-btn {
    background-color: rgba(var(--v-c-secondary), 1);
}
.vis-theme-rec {
    background-color: rgba(var(--v-c-on-secondary), .1);
}
.k-block,
.k-button,
.k-draghandle,
.k-grid-header,
.k-grouping-header,
.k-header,
.k-pager-wrap,
.k-toolbar,
.k-treemap-tile,
html .km-pane-wrapper .k-header,
.k-autocomplete.k-state-default,
.k-dropdown-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-picker-wrap.k-state-default {
    background-color: rgba(var(--v-c-on-secondary), .01);
    background-image: none;
}
.k-block,
.k-draghandle,
.k-grid-header,
.k-grouping-header,
.k-header,
.k-pager-wrap,
.k-toolbar,
.k-treemap-tile,
html .km-pane-wrapper .k-header,
.k-autocomplete,
.k-block,
.k-button-group .k-tool,
.k-content,
.k-dropdown-wrap,
.k-dropzone-active,
.k-editable-area,
.k-filter-row > th,
.k-footer-template td,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-content-locked,
.k-grid-footer,
.k-grid-footer-locked,
.k-grid-footer-wrap,
.k-grid-header,
.k-grid-header-locked,
.k-grid-header-wrap,
.k-group,
.k-group-footer td,
.k-grouping-header, 
.k-grouping-header .k-group-indicator, 
.k-header, 
.k-input, 
.k-pager-refresh, 
.k-pager-wrap, 
.k-pager-wrap .k-link, 
.k-panel > .k-item > .k-link, 
.k-panelbar .k-content, 
.k-panelbar .k-panel, 
.k-panelbar > .k-item > .k-link, 
.k-separator, 
.k-slider-track, 
.k-splitbar, 
.k-state-default, 
.k-state-default .k-select, 
.k-state-disabled, 
.k-tiles, 
.k-toolbar, 
.k-tooltip, 
.k-treemap-tile, 
.k-upload-files, 
.k-widget,
.k-autocomplete.k-state-default, 
.k-dropdown-wrap.k-state-default, 
.k-numeric-wrap.k-state-default, 
.k-picker-wrap.k-state-default,
.vis-workflowActivityContainer,
.form-control,
.popover {
    border-color: rgba(var(--v-c-on-secondary), .2);
}

.vis-removeFilter {
    border-color: rgb(var(--v-c-bg-color));
}

.form-control:focus,
.vis-ad-w-p-tb-rc-a-list li,
.vis-ad-w-p-inc-tab-a-list li,
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input, .k-menu .k-popup,
.k-dropdown .k-state-hover .k-input,
.k-grid-header .k-header > .k-link,
.k-header,
.k-treemap-title,
.vis-group-user-profile > label,
.vis-report-table-row > td,
.vis-report-table-head > th,
.vis-sms-black,
.vis-app-hdr-l-menu,
.vis-app-hdr-r-logout,
.VIS_Pref_close-btn,
.vis-attach-file-top a i {
    color: rgb(var(--v-c-on-secondary));
}
.vis-apanel-rb-ul li,
.w2ui-grid .w2ui-grid-body table td {
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .1);
}
.w2ui-overlay:before {
    border-top: 1px solid rgba(var(--v-c-on-secondary), .1);
}
.w2ui-overlay:before,
.w2ui-col-header {
    border-right: 1px solid rgba(var(--v-c-on-secondary), .1);
}
.w2ui-overlay {
    box-shadow: 0 2px 10px rgba(var(--v-c-bg-color), 1);
}
.w2ui-overlay,
.vis-activityContainer,
.vis-ad-w-p-s-plst li:not(:first-child),
.vis-theme-drp-wrp .dropdown-menu {
    border: 1px solid rgba(var(--v-c-on-secondary), .1);
}
.vis-apanel-rb-ul li:first-child {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.vis-apanel-rb-ul li:last-child {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
.vis-welcomeScreenTabMenu li a:hover:before {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(var(--v-c-secondary), 1);
    background: none;
}
.vis-advancedSearchInput > label, .vis-advancedSearchHorigontal > label {
    background: linear-gradient(rgb(var(--v-c-bg-color)) 51%, transparent 50%);
}
select.vis-ev-col-readonly ~ label,
input.vis-ev-col-readonly:not(:placeholder-shown) ~ label,
.vis-input-wrap input:focus ~ label, 
.vis-input-wrap input:not(:placeholder-shown) ~ label, 
.vis-input-wrap textarea:not(:placeholder-shown) ~ label, 
.vis-input-wrap select:focus ~ label, 
.vis-input-wrap textarea:focus ~ label, 
.vis-input-wrap select ~ label {
    background: linear-gradient(rgb(var(--v-c-bg-color)) 50%, transparent 50%);
}
.vis-prefthemeconfigbtn,
.vis-control-wrap > button {
    /*background: rgba(var(--v-c-primary), .2);*/
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd.w2ui-empty-record:hover {
    background: rgba(var(--v-c-primary), .06);
}
.k-bold {
    background-position: -264px 0 !important;
}
.k-italic {
    background-position: -264px -24px !important;
}
.k-underline {
    background-position: -264px -48px !important;
}
.k-strikethrough {
    background-position: -264px -72px !important;
}
.k-justifyLeft {
    background-position: -264px -144px !important;
}
.k-justifyCenter {
    background-position: -264px -168px !important;
}
.k-justifyRight {
    background-position: -264px -192px !important;
}
.k-justifyFull {
    background-position: -264px -216px !important;
}
.k-insertUnorderedList {
    background-position: -264px -264px !important;
}
.k-insertOrderedList {
    background-position: -264px -288px !important;
}
.k-outdent {
    background-position: -312px 0 !important;
}
.k-indent {
    background-position: -312px -24px !important;
}
.k-createLink {
    background-position: -312px -48px !important;
}
.k-insertImage {
    background-position: -312px -96px !important;
}
.k-insertFile {
    background-position: -312px -216px !important;
}
.k-subscript {
    background-position: -312px -144px !important;
}
.k-superscript {
    background-position: -312px -168px !important;
}
.k-createTable {
    background-position: -216px 0 !important;
}
.k-viewHtml {
    background-position: -312px -121px !important;
}
.k-cleanFormatting {
    background-position: -312px -192px !important;
}
.k-foreColor {
    background-position: -264px -96px !important;
}
.k-backColor {
    background-position: -264px -120px !important;
}
.k-i-pdf,
.k-state-hover > * > .k-i-pdf {
    background-position: -316px -244px !important;
}
.k-addRowAbove {
    background-position: -216px -72px !important;
}
.k-addRowBelow {
    background-position: -216px -96px !important;
}
.k-addColumnLeft {
    background-position: -216px -24px !important;
}
.k-addColumnRight {
    background-position: -216px -48px !important;
}
.k-deleteRow {
    background-position: -216px -120px !important;
}
.k-deleteColumn {
    background-position: -216px -144px !important;
}

.k-block,
.k-content,
.k-dropdown .k-input,
.k-popup,
.k-toolbar, .k-widget {
    color: inherit;
}
.vis-sms-rytWrap {
    border-left: 1px solid rgba(var(--v-c-on-secondary), .1);
}
.vis-gc-vpanel-table-readOnly {
    background-color: rgba(var(--v-c-on-secondary),.04) !important;
}
.vis-report-gray,
.vis-prefthemeconfigbtn {
    background: rgba(var(--v-c-on-secondary), .1);
}
.vis-sms-red {
    color: #d95252;
}
.k-button-group .k-tool,
.k-editor .k-editable-area,
.k-autocomplete.k-state-default,
.k-dropdown-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-picker-wrap.k-state-default,
.k-gantt-toolbar .k-state-default,
.k-grid .k-grouping-header,
.k-grid-header,
.k-grid-header-wrap,
.k-grouping-header .k-group-indicator,
.k-header,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-wrap .k-textbox,
table.k-editor,
.k-autocomplete,
.k-block,
.k-calendar th,
.k-content, .k-dropdown-wrap,
.k-dropzone-active, .k-editable-area,
.k-filter-row > th,
.k-footer-template td,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-content-locked,
.k-grid-footer,
.k-grid-footer-locked, .k-grid-footer-wrap, .k-grid-header, .k-grid-header-locked, .k-grid-header-wrap, .k-group, .k-group-footer td, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-header, .k-input, .k-pager-refresh, .k-pager-wrap, .k-pager-wrap .k-link, .k-panel > .k-item > .k-link, .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar > .k-item > .k-link, .k-separator, .k-slider-track, .k-splitbar, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-textbox, .k-textbox > input, .k-tiles, .k-toolbar, .k-tooltip, .k-treemap-tile, .k-upload-files, .k-widget,
.k-button,
.k-scheduler-header th, .k-scheduler-header-wrap, .k-scheduler-table td, .k-scheduler-times, .k-scheduler-times th, .k-scheduler-times tr,
.vis-zero-right-border,
.k-checkbox-label:before,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.border-left,
.border-right,
.border-top,
.border-bottom,
.k-file,
.card,
.dxheViewArea {
    border-color: rgba(var(--v-c-on-secondary), .2) !important;
}
.k-editor .k-content,
.k-block, .k-widget,
.k-content, .k-editable-area,
.k-panel > li.k-item,
.k-panelbar > li.k-item, .k-tiles,
.k-calendar .k-footer .k-nav-today,
.k-scheduler-table .k-today, .k-today > .k-scheduler-datecolumn, .k-today > .k-scheduler-groupcolumn,
.k-scheduler-datecolumn, .k-scheduler-groupcolumn,
.k-dropdown .k-input,
.k-state-default>.k-select,
.k-popup.k-list-container,
.bg-white,
.k-active-filter, .k-state-active, .k-state-active:hover, .k-tabstrip .k-state-active,
.k-input, .k-multiselect-wrap, .k-textbox>input, input.k-textbox, input.k-textbox:hover, textarea.k-textbox, textarea.k-textbox:hover,
.k-checkbox-label:before,
.dropdown-menu,
.k-file,
.card,
.dxrControl .dxr-tabContent,
.dxheControl .dxheHtmlViewArea, 
.dxheDesignViewArea, 
.dxhePreviewArea {
    background-color: rgb(var(--v-c-bg-color)) !important;
}
.k-autocomplete.k-state-default,
.k-dropdown-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-picker-wrap.k-state-default,
.k-autocomplete, .k-draghandle,
.k-dropdown-wrap,
.k-grid-header,
.k-grouping-header,
.k-header,
.k-numeric-wrap,
.k-pager-wrap,
.k-panelbar .k-tabstrip-items .k-item,
.k-picker-wrap,
.k-progressbar,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-toolbar,
.km-pane-wrapper > .km-pane > .km-view > .km-content, .k-draghandle:hover, .k-other-month.k-state-hover .k-link, .k-pager-wrap .k-link:hover, div.k-filebrowser-dropzone em {
    background: none !important;
}
.k-calendar th,
.k-button.k-state-hover,
.k-nonwork-hour,
.vadb-header-menu,
.k-alt, .k-pivot-layout>tbody>tr:first-child>td:first-child, .k-resource.k-alt, .k-separator,
.vis-file-close-ico,
.k-calendar th, .k-dropzone-hovered, .k-footer-template td, .k-grid-footer, .k-group, .k-group-footer td, .k-grouping-header, .k-pager-wrap, .k-toolbar, .k-widget .k-status, .k-widget.k-popup,
.k-calendar th, .k-dropzone-hovered, .k-footer-template td, .k-grid-footer, .k-group, .k-group-footer td, .k-grouping-header, .k-pager-wrap, .k-toolbar, .k-widget .k-status, .k-widget.k-popup,
.dropdown-item:focus, .dropdown-item:hover,
.dxheControl .dxrControl{
    background: rgba(var(--v-c-secondary), 1) !important;
}
.k-dropdown-wrap.k-state-default {
    background: none !important;
}
.k-delete, .k-group-delete, .k-i-close {
    background: url(../Images/cross.svg) no-repeat center !important;
}
.k-i-calendar {
    background: url(../Images/appointment.svg) no-repeat !important;
}
.k-i-clock {
    background: url(../Images/clock.svg) no-repeat !important;
}
.k-i-arrow-s,
.k-i-arrow-w,
.k-i-arrow-e {
    width: 0 !important;
    height: 0 !important;
    background-image: none !important;
    border: none !important;
}

.k-i-arrow-s {
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    border-top: 5px solid rgba(var(--v-c-on-secondary), 1) !important;
}

.k-i-arrow-w {
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    border-right: 5px solid rgba(var(--v-c-on-secondary), 1) !important;
}

.k-i-arrow-e {
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    border-left: 5px solid rgba(var(--v-c-on-secondary), 1) !important;
}
.mainTemplate svg rect {
    fill: rgba(var(--v-c-secondary), 1) !important;
}
.vis-primary-btn-one,
.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child, .k-resource.k-alt, .k-separator {
    background: rgba(var(--v-c-on-secondary), .2)
}
.k-picker-wrap.k-state-hover,
.k-state-default.k-state-hover > .k-select {
    background: rgba(var(--v-c-on-secondary), .2) !important;
}
.vis-ev-col input[readonly] {
    background-color: rgba(var(--v-c-on-secondary), .04) !important;
}
.k-grid tr:hover {
    background-image: none,linear-gradient(to bottom,rgba(0,0,0,.3) 0,rgba(0,0,0,0) 100%);
    background-color: rgba(var(--v-c-on-secondary), .2);
}
.vis-process-left-sidebar .VIS_Pref_btn-2.vis-process-ok-btn,
.vis-excelimportbtn a {
    background-color: rgba(var(--v-c-primary), 1);
}
.k-grid tr:hover {
    background-color: rgba(var(--v-c-on-secondary), .2) !important;
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.3)),to(rgba(0,0,0,0))) !important;
    background-image: none,-webkit-linear-gradient(top,rgba(0,0,0,.3) 0,rgba(0,0,0,0) 100%) !important;
    background-image: none,linear-gradient(to bottom,rgba(0,0,0,.3) 0,rgba(0,0,0,0) 100%) !important;
}
.k-block, .k-content, .k-dropdown .k-input, .k-popup, .k-toolbar, .k-widget,
.k-input, .k-multiselect-wrap, .k-textbox > input, input.k-textbox, input.k-textbox:hover, textarea.k-textbox, textarea.k-textbox:hover,
.k-header,
.k-calendar .k-link.k-nav-fast,
.k-calendar .k-link,
.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link,
.k-scheduler-layout,
.k-scheduler-datecolumn, .k-scheduler-groupcolumn,
.k-item span,
.k-grouping-header,
.k-grid-footer td, .k-group-footer td, .k-grouping-row td,
.dxrControl, .dxrControl a {
    color: rgb(var(--v-c-on-secondary)) !important;
}
.k-other-month .k-link {
    color: rgba(var(--v-c-on-secondary), .5) !important;
}
.popover {
    background-color: rgba(var(--v-c-common), 1);
}
.bs-popover-right .arrow::after {
    border-right-color: rgba(var(--v-c-common), 1);
}
.bs-popover-right .arrow::before {
    border-right-color: rgba(var(--v-c-on-secondary), .2);
}
.k-button {
    background-image: none !important;
    background-color: rgba(var(--v-c-on-secondary), .1) !important;
    color: rgba(var(--v-c-on-secondary), 1) !important
}
.k-primary:hover, .k-button:hover {
    background-color: rgba(var(--v-c-primary), 1) !important;
}
a.text-dark:focus, 
a.text-dark:hover,
.text-dark {
    color: rgba(var(--v-c-dark), 1) !important;
}
