:root {
    --v-c-secondary: 69, 73, 76 !important;
    /*--v-c-on-secondary: 189,193,198 !important;*/
    --v-c-on-secondary: 220, 223, 227 !important;
    /*--v-c-on-secondary: 241, 241, 241 !important;*/
    --v-c-bg-color: 60, 64, 67;
    --v-c-th-secondary: 69, 73, 76 !important;
    --v-c-th-on-secondary: 220, 223, 227 !important;
    --v-c-common: 60, 64, 67;
}

body * {
    color: rgba(var(--v-c-on-secondary), 1) !important;
}
body,
#vis_mainMenu,
.vis-removeFilter,
.ui-widget-content,
.vis-ad-w-p-vc,
.vis-ad-w-p-s-plst li:not(:first-child),
.vis-ad-w-p-a-m-lst span,
.ui-dialog .ui-dialog-content,
.vis-cv-main,
.vis-cv-header p,
.vis-cv-cardlist,
.vis-fp-outerwrp,
.vis-thed-tablewrap,
.vis-window-instruc-overlay-new-li,
.vis-forms-container .k-editor .k-content,
.vis-nav-AllItems-Header,
.vis-report-a-r-container,
.vis-attach-main-wrap,
.vis-workflowActivityDetails,
table.k-editor,
.k-editor .k-editable-area {
    background: rgb(var(--v-c-bg-color));
}
input:not([type=button]),
select,
select option,
textarea,
.vis-ad-w,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even,
.vis-cv-groupHeader,
.vis-fp-custcolumns .card,
.vis-theme-drp-wrp .dropdown-menu,
.vis-two-sec-one,
.vis-email-rootDiv,
.vis-Email-ContentWrap,
.vis-forms-container .k-content,
.vis-forms-container .k-editable-area,
.vis-forms-container .k-panel > li.k-item,
.vis-forms-container .k-panelbar > li.k-item, .k-tiles {
    background-color: rgb(var(--v-c-bg-color));
}
.wsp-task-form .form-control {
    background-color: rgb(var(--v-c-bg-color)) !important;
}
.vis-welcomeScreenContainer,
.ui-widget input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
.ui-widget select,
.ui-widget textarea {
    background: transparent;
}
.vis-welcomeScreenTabMenu li {
    border-right: 1px solid rgb(var(--v-c-bg-color));
}
.vis-navSearchWrap,
.vis-navSearchWrap input:not([type=button]),
.w2ui-overlay,
.vis-attachhistory-table-wrap,
.vis-attachhistory-right-wrap,
.VIS_Pref_err-btn,
.vis-email-leftDiv,
.vis-sms-leftDiv,
.vis-report-table-head,
.vis-workflowActivityContainer {
    background-color: rgba(var(--v-c-secondary), 1);
}
.vis-theme-rec {
    background-color: rgba(var(--v-c-on-secondary), .1);
}
.vis-forms-container .k-block,
.vis-forms-container .k-button,
.vis-forms-container .k-draghandle,
.vis-forms-container .k-grid-header,
.vis-forms-container .k-grouping-header,
.vis-forms-container .k-header,
.vis-forms-container .k-pager-wrap,
.vis-forms-container .k-toolbar,
.vis-forms-container .k-treemap-tile,
.vis-forms-container html .km-pane-wrapper .k-header,
.vis-forms-container .k-autocomplete.k-state-default,
.vis-forms-container .k-dropdown-wrap.k-state-default,
.vis-forms-container .k-numeric-wrap.k-state-default,
.vis-forms-container .k-picker-wrap.k-state-default {
    background-color: rgba(var(--v-c-on-secondary), .01);
    background-image: none;
}
.vis-forms-container .k-block,
.vis-forms-container .k-button,
.vis-forms-container .k-draghandle,
.vis-forms-container .k-grid-header,
.vis-forms-container .k-grouping-header,
.vis-forms-container .k-header,
.vis-forms-container .k-pager-wrap,
.vis-forms-container .k-toolbar,
.vis-forms-container .k-treemap-tile,
.vis-forms-container html .km-pane-wrapper .k-header,
.vis-forms-container .k-autocomplete,
.vis-forms-container .k-block,
.vis-forms-container .k-button-group .k-tool,
.vis-forms-container .k-calendar th,
.vis-forms-container .k-colorpicker .k-i-arrow-s,
.vis-forms-container .k-content,
.vis-forms-container .k-dropdown-wrap,
.vis-forms-container .k-dropzone-active,
.vis-forms-container .k-editable-area,
.vis-forms-container .k-filter-row > th,
.vis-forms-container .k-footer-template td,
.vis-forms-container .k-grid td,
.vis-forms-container .k-grid td.k-state-selected,
.vis-forms-container .k-grid-content-locked,
.vis-forms-container .k-grid-footer,
.vis-forms-container .k-grid-footer-locked,
.vis-forms-container .k-grid-footer-wrap,
.vis-forms-container .k-grid-header,
.vis-forms-container .k-grid-header-locked,
.vis-forms-container .k-grid-header-wrap,
.vis-forms-container .k-group,
.vis-forms-container .k-group-footer td,
.vis-forms-container .k-grouping-header, 
.vis-forms-container .k-grouping-header .k-group-indicator, 
.vis-forms-container .k-header, 
.vis-forms-container .k-input, 
.vis-forms-container .k-pager-refresh, 
.vis-forms-container .k-pager-wrap, 
.vis-forms-container .k-pager-wrap .k-link, 
.vis-forms-container .k-panel > .k-item > .k-link, 
.vis-forms-container .k-panelbar .k-content, 
.vis-forms-container .k-panelbar .k-panel, 
.vis-forms-container .k-panelbar > .k-item > .k-link, 
.vis-forms-container .k-separator, 
.vis-forms-container .k-slider-track, 
.vis-forms-container .k-splitbar, 
.vis-forms-container .k-state-default, 
.vis-forms-container .k-state-default .k-select, 
.vis-forms-container .k-state-disabled, 
.vis-forms-container .k-textbox, 
.vis-forms-container .k-textbox > input, 
.vis-forms-container .k-tiles, 
.vis-forms-container .k-toolbar, 
.vis-forms-container .k-tooltip, 
.vis-forms-container .k-treemap-tile, 
.vis-forms-container .k-upload-files, 
.vis-forms-container .k-widget,
.vis-forms-container .k-autocomplete.k-state-default, 
.vis-forms-container .k-dropdown-wrap.k-state-default, 
.vis-forms-container .k-numeric-wrap.k-state-default, 
.vis-forms-container .k-picker-wrap.k-state-default,
.vis-workflowActivityContainer {
    border-color: rgba(var(--v-c-on-secondary), .2);
}

.vis-removeFilter {
    border-color: rgb(var(--v-c-bg-color));
}

.form-control:focus,
.vis-ad-w-p-tb-rc-a-list li,
.vis-ad-w-p-inc-tab-a-list li,
.vis-forms-container .k-dropdown .k-input,
.vis-forms-container .k-dropdown .k-state-focused .k-input, .k-menu .k-popup,
.vis-forms-container .k-dropdown .k-state-hover .k-input,
.vis-forms-container .k-grid-header .k-header > .k-link,
.vis-forms-container .k-header,
.vis-forms-container .k-treemap-title,
.vis-group-user-profile > label,
.vis-report-table-row > td,
.vis-report-table-head > th,
.vis-sms-black {
    color: rgb(var(--v-c-on-secondary));
}
.vis-apanel-rb-ul li,
.w2ui-grid .w2ui-grid-body table td {
    border-bottom: 1px solid rgba(var(--v-c-on-secondary), .1);
}
.w2ui-overlay:before {
    border-top: 1px solid rgba(var(--v-c-on-secondary), .1);
}
.w2ui-overlay:before,
.w2ui-col-header {
    border-right: 1px solid rgba(var(--v-c-on-secondary), .1);
}
.w2ui-overlay {
    box-shadow: 0 2px 10px rgba(var(--v-c-bg-color), 1);
}
.w2ui-overlay,
.vis-activityContainer,
.vis-ad-w-p-s-plst li:not(:first-child),
.vis-theme-drp-wrp .dropdown-menu {
    border: 1px solid rgba(var(--v-c-on-secondary), .1);
}
.vis-apanel-rb-ul li:first-child {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.vis-apanel-rb-ul li:last-child {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
.vis-welcomeScreenTabMenu li a:hover:before {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(var(--v-c-secondary), 1);
    background: none;
}
.vis-advancedSearchInput > label, .vis-advancedSearchHorigontal > label {
    background: linear-gradient(rgb(var(--v-c-bg-color)) 51%, transparent 50%);
}
select.vis-ev-col-readonly ~ label,
input.vis-ev-col-readonly:not(:placeholder-shown) ~ label,
.vis-input-wrap input:focus ~ label, 
.vis-input-wrap input:not(:placeholder-shown) ~ label, 
.vis-input-wrap textarea:not(:placeholder-shown) ~ label, 
.vis-input-wrap select:focus ~ label, 
.vis-input-wrap textarea:focus ~ label, 
.vis-input-wrap select ~ label {
    background: linear-gradient(rgb(var(--v-c-bg-color)) 50%, transparent 50%);
}
.vis-prefthemeconfigbtn,
.vis-control-wrap > button {
    background: rgba(var(--v-c-primary), .2);
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd.w2ui-empty-record:hover {
    background: rgba(var(--v-c-primary), .06);
}
.k-bold {
    background-position: -264px 0 !important;
}
.k-italic {
    background-position: -264px -24px !important;
}
.k-underline {
    background-position: -264px -48px !important;
}
.k-strikethrough {
    background-position: -264px -72px !important;
}
.k-justifyLeft {
    background-position: -264px -144px !important;
}
.k-justifyCenter {
    background-position: -264px -168px !important;
}
.k-justifyRight {
    background-position: -264px -192px !important;
}
.k-justifyFull {
    background-position: -264px -216px !important;
}
.k-insertUnorderedList {
    background-position: -264px -264px !important;
}
.k-insertOrderedList {
    background-position: -264px -288px !important;
}
.k-outdent {
    background-position: -312px 0 !important;
}
.k-indent {
    background-position: -312px -24px !important;
}
.k-createLink {
    background-position: -312px -48px !important;
}
.k-insertImage {
    background-position: -312px -96px !important;
}
.k-insertFile {
    background-position: -312px -216px !important;
}
.k-subscript {
    background-position: -312px -144px !important;
}
.k-superscript {
    background-position: -312px -168px !important;
}
.k-createTable {
    background-position: -216px 0 !important;
}
.k-viewHtml {
    background-position: -312px -121px !important;
}
.k-cleanFormatting {
    background-position: -312px -192px !important;
}
.k-foreColor {
    background-position: -264px -96px !important;
}
.k-backColor {
    background-position: -264px -120px !important;
}
.k-i-pdf,
.k-state-hover > * > .k-i-pdf {
    background-position: -316px -244px !important;
}
.k-i-arrow-s,
.k-i-arrow-w,
.k-i-arrow-e {
    width: 0 !important;
    height: 0 !important;
    background-image: none;
}
.k-i-arrow-s {
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    border-top: 5px solid rgba(var(--v-c-on-secondary), 1) !important;
}
.k-i-arrow-w {
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    border-right: 5px solid rgba(var(--v-c-on-secondary), 1) !important;
}
.k-i-arrow-e {
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    border-left: 5px solid rgba(var(--v-c-on-secondary), 1) !important;
}
.vis-forms-container .k-block,
.vis-forms-container .k-content,
.vis-forms-container .k-dropdown .k-input,
.vis-forms-container .k-popup,
.vis-forms-container .k-toolbar, .k-widget {
    color: inherit;
}
.vis-sms-rytWrap {
    border-left: 1px solid rgba(var(--v-c-on-secondary), .1);
}
.vis-gc-vpanel-table-readOnly {
    background-color: rgba(var(--v-c-on-secondary),.04) !important;
}
.vis-report-gray {
    background: rgba(var(--v-c-on-secondary), .1);
}
.vis-sms-red {
    color: #d95252;
}
.k-button-group .k-tool,
.k-editor .k-editable-area,
.k-autocomplete.k-state-default,
.k-dropdown-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-picker-wrap.k-state-default,
.k-gantt-toolbar .k-state-default,
.k-grid .k-grouping-header,
.k-grid-header,
.k-grid-header-wrap,
.k-grouping-header .k-group-indicator,
.k-header,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-wrap .k-textbox,
table.k-editor,
.k-autocomplete,
.k-block,
.k-calendar th,
.k-colorpicker .k-i-arrow-s,
.k-content, .k-dropdown-wrap,
.k-dropzone-active, .k-editable-area,
.k-filter-row > th,
.k-footer-template td,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-content-locked,
.k-grid-footer,
.k-grid-footer-locked, .k-grid-footer-wrap, .k-grid-header, .k-grid-header-locked, .k-grid-header-wrap, .k-group, .k-group-footer td, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-header, .k-input, .k-pager-refresh, .k-pager-wrap, .k-pager-wrap .k-link, .k-panel > .k-item > .k-link, .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar > .k-item > .k-link, .k-separator, .k-slider-track, .k-splitbar, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-textbox, .k-textbox > input, .k-tiles, .k-toolbar, .k-tooltip, .k-treemap-tile, .k-upload-files, .k-widget,
.k-button,
.k-scheduler-header th, .k-scheduler-header-wrap, .k-scheduler-table td, .k-scheduler-times, .k-scheduler-times th, .k-scheduler-times tr {
    border-color: rgba(var(--v-c-on-secondary), .2) !important;
}
.k-editor .k-content,
.k-block, .k-widget,
.k-content, .k-editable-area,
.k-panel > li.k-item,
.k-panelbar > li.k-item, .k-tiles,
.k-calendar .k-footer .k-nav-today,
.k-scheduler-table .k-today, .k-today > .k-scheduler-datecolumn, .k-today > .k-scheduler-groupcolumn,
.k-scheduler-datecolumn, .k-scheduler-groupcolumn {
    background: rgb(var(--v-c-bg-color)) !important;
}
.k-autocomplete.k-state-default,
.k-dropdown-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-picker-wrap.k-state-default,
.k-autocomplete,
.k-button, .k-draghandle,
.k-dropdown-wrap,
.k-grid-header,
.k-grouping-header,
.k-header,
.k-numeric-wrap,
.k-pager-wrap,
.k-panelbar .k-tabstrip-items .k-item,
.k-picker-wrap,
.k-progressbar,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-textbox,
.k-toolbar,
.km-pane-wrapper > .km-pane > .km-view > .km-content,
.k-button.k-state-focused, .k-button.k-state-hover, .k-button:focus, .k-button:hover, .k-draghandle:hover, .k-other-month.k-state-hover .k-link, .k-pager-wrap .k-link:hover, .k-state-hover, .k-state-hover:hover, .k-textbox:hover, div.k-filebrowser-dropzone em {
    background-image: none !important;
}
.k-calendar th,
.k-button.k-state-hover, .k-button:hover,
.k-nonwork-hour,
.vadb-header-menu {
    background: rgba(var(--v-c-secondary), 1) !important;
}
