.vis-asrec-maindiv {
    background: linear-gradient(135deg, #6b8ce3, #8dc7f8);
    height: 100%;
    width: 100%;
}

.vis-assuser-div {
    background: linear-gradient(135deg, #6b8ce3, #8dc7f8);
    height: 100%;
    width: 100%;
}

.VIS-asrec-widget-container {
    height: 100%
}

    .VIS-asrec-widget-container h4 {
        color: #fff;
        font-size: 15px;
        padding: 10px 10px 0;
        margin: 0
    }


.vis-assigned-records {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 .75em;
    width: 100%;
    margin-top: 7px;
    display: inline-block;
}


.vis-record-col {
    gap: .75em;
    cursor: pointer;
}

.vis-windowList {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.vis-blueColor {
    background-color: #23569B;
}


.vis-record-box {
    align-items: center;
    border-radius: 8px;
    display: flex;
    gap: .75em;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    padding: 13px 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}


.vis-tiles-pagination {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

    .vis-tiles-pagination .fa {
        font-size: 1.9em;
        color: rgba(var(--v-c-common),1);
        cursor: pointer;
    }

        .vis-tiles-pagination .fa:hover {
            color: rgba(var(--v-c-common),0.8);
        }


.vis-noRecordFound {
    display: flex;
    font-size: 20px;
    color: #fff;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.vis-total-count {
    font-size: 1em;
    color: rgba(var(--v-c-common),1);
}

.vis-total-windows-icon {
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

    .vis-total-windows-icon:hover {
        color: #f0ad4e; /* Optional hover effect */
    }

.VIS_recordCount {
    background: #fff;
    color: #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    margin-right: auto;
    font-size: 11px;
}

.vis-show-more {
    text-decoration: underline;
    color: white;
    font-size: 22px;
}

.VIS_popupClose {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: rgba(var(--v-c-common),1);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}



.VIS_PopoverMaindiv {
    border-radius: 12px;
    padding: 20px;
    border: none;
    height: 100%;
}

.VIS_popupRecordCount {
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #333;
    background: #fff;
}

.VIS_WindowRecord {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    max-height: 139px;
    overflow: auto;
}

.VIS_popuptitle {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.VIS_popupRecordDetail {
    overflow-y: auto;
    max-height: 400px;
    margin-top: 15px;
}

.vis_assignpageControls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

html[dir=rtl] .VIS_recordCount {
    text-align: center !important;
}

html[dir=rtl] .VIS_checklistCount {
    text-align: left !important;
}

html[dir=rtl] .VIS_popupRecordCount {
    text-align: center !important;
}

@media screen and (max-width: 1366px) {
    .vis-assigned-records {
        font-size: 11px;
    }

    .vis-editModeWidget .vis-assigned-records {
        font-size: 11px;
    }
}


@media screen and (max-width: 1280px) {
    .VIS_recordCount {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .vis-record-box {
        padding: 9px 10px;
    }
}

@media screen and (max-width: 1024px) {
    .vis-assigned-records {
        font-size: 8px;
    }

    .vis-editModeWidget .vis-assigned-records {
        font-size: 8px;
    }

    .vis-record-box {
        padding: 4px 10px;
    }
}

@media screen and (max-width:900px) {
    .vis-assigned-records {
        font-size: 11px;
    }

    .vis-editModeWidget .vis-assigned-records {
        font-size: 11px;
    }
}

@media screen and (max-width: 768px) {
    .vis-assigned-records {
        font-size: 9px;
    }

    .vis-editModeWidget .vis-assigned-records {
        font-size: 9px;
    }
}

@media screen and (max-width: 600px) {
    .vis-assigned-records {
        font-size: 14px;
    }

    .vis-editModeWidget .vis-assigned-records {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .vis-assigned-records {
        font-size: 12px;
    }

    .vis-editModeWidget .vis-assigned-records {
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .vis-assigned-records {
        font-size: 9px;
    }

    .vis-editModeWidget .vis-assigned-records {
        font-size: 9px;
    }
}

@media screen and (max-width: 320px) {
    .vis-assigned-records {
        font-size: 8px;
    }

    .vis-editModeWidget .vis-assigned-records {
        font-size: 8px;
    }
}

.vis-editModeWidget .vis-widget-item :not(.vis-widgetDelete) .vis-record-box {
    padding: 5px 10px;
}

.vis-editModeWidget .vis-widget-item :not(.vis-widgetDelete) .vis-tiles-pagination i {
    font-size: 1.7em;
}

    .vis-editModeWidget .vis-widget-item :not(.vis-widgetDelete) .vis-tiles-pagination i.vis-show-more {
        margin-left: 0;
        font-size: 1.3rem;
    }

.vis-editModeWidget .vis-tiles-pagination {
    padding: 20px 10px 0;
}

.vis-asrec-fontsize {
    font-size: 11px
}

.vis-singlerec-zoom {
    padding-right: 8px;
    color: rgba(var(--v-c-primary), 0.5);
    cursor: pointer;
}

.vis-asrec-assigned {
    width: 30%;
}

.vis-asrec-date {
    width: 20%;
    padding-left: 35px;
}

.vis-asrec-checklistcard {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    margin: 8px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.vis-asrec-card-title {
    font-size: 16px;
    font-weight: bold;
    color: #3d4f71;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.vis-tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.vis-tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%; /* Show above the element */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(60, 60, 60, 0.9);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    font-size: 12px;
    width: max-content;
    max-width: 200px;
}

.vis-tooltip:hover::after {
    opacity: 1;
}


#VIS-assrec-wrapper br {
    display: block;
    line-height: 1.6em;
}

#VIS-assrec-wrapper article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

#VIS-assrec-wrapper ol, ul {
    list-style: none;
}

#VIS-assrec-wrapper input, textarea {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

/*blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }*/

#VIS-assrec-wrapperstrong, b {
    font-weight: bold;
}

#VIS-assrec-wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}


#VIS-assrec-wrapper h1 {
    font-family: var(--v-c-font-family) !important;
    font-weight: 600;
    color: rgba(var(--v-c-on-secondary), 1);
    width: 48%;
    /* font-size: 1.6em;*/
    /* margin-bottom: 6px;*/
}


/** page structure **/
#VIS-assrec-wrapper {
    /* background-color: #f3f3f385;*/
    display: block;
    margin: 0 auto;
    padding: 8px 10px;
    position: relative;
    width: auto;
    border-radius: 6px;
}

#VIS-assrec-keywords {
    /*  margin: 0 auto;*/
    font-size: 1em;
    margin-bottom: 15px;
}


    #VIS-assrec-keywords thead {
        cursor: pointer;
        background: #c9dff0;
    }

        #VIS-assrec-keywords thead tr th {
            /*padding: 15px 8px;*/
            padding: 5px 5px;
            color: rgba(var(--v-c-on-secondary), 1);
            font-family: Roboto-Regular !important;
            font-size: 1em;
        }

            #VIS-assrec-keywords thead tr th span {
                /* padding-right: 20px;*/
                background-repeat: no-repeat;
                background-position: 100% 100%;
            }

            #VIS-assrec-keywords thead tr th.headerSortUp, #VIS-assrec-keywords thead tr th.headerSortDown {
                background: #acc8dd;
            }

                #VIS-assrec-keywords thead tr th.headerSortUp span {
                    background-image: url('https://i.imgur.com/SP99ZPJ.png');
                }

                #VIS-assrec-keywords thead tr th.headerSortDown span {
                    background-image: url('https://i.imgur.com/RkA9MBo.png');
                }


    #VIS-assrec-keywords tbody tr {
        color: #555;
    }

        #VIS-assrec-keywords tbody tr td {
            text-align: left;
            padding: 5px 5px;
            border-bottom: 1px solid #dcdcdc;
        }

            #VIS-assrec-keywords tbody tr td.VIS-assrec-lalign {
                text-align: left;
                width: 40%;
            }


.VIS-search-wrap {
    width: 45%;
    display: flex;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
}

    .VIS-search-wrap > input {
        /* border: 1px solid #CCC; */
        height: 31px;
        padding-left: 5px;
        float: left;
        /* outline: medium none; */
        border-radius: 6px;
        width: calc(100% - 31px);
        border: none;
    }

.VIS-search-icon {
    float: left;
    width: 31px;
    height: 31px;
    background: #fff;
    border: 1px solid rgba(var(--v-c-on-secondary), .2);
    /*color: #999;
    text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
}

    .VIS-search-icon > span {
        /* line-height: 28px; */
        font-size: 1rem;
        color: rgba(var(--v-c-primary), 0.5)
    }

.vis-header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 8px 0;
}

.vis-header-title {
    margin: 0;
    font-size: 1rem;
    flex-shrink: 0;
}

.VIS-search-wrap {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.VIS-srchtext {
    padding: 5px 10px;
    font-size: 14px;
}

.VIS-search-icon {
    cursor: pointer;
}

.VIS-arsec-popupClose {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.vis-table-wrapper {
    max-height: 100%;
    overflow: hidden;
}

.vis-asrec-popup-scroll-container {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 12px
}

    .vis-asrec-popup-scroll-container table {
        width: 100%;
    }

html[dir="rtl"] .VIS-search-wrap {
    margin-right: auto;
    margin-left: 0;
}

.VIS-asrec-popDiv {
    position: absolute;
    right: -8px;
    top: 2px;
}

html[dir="rtl"] .vis-a-closeBtnCls.close {
    left: -12px;
    right: inherit;
}

.vis-table-wrapper table thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.vis-asrec-maindiv .modal-content {
    /*width: 70%;*/
}

.VIS-AssignRecordDiv .vis-input-wrap {
    margin-bottom: 0;
}

    .VIS-AssignRecordDiv .vis-input-wrap input:not([type="checkbox"]):not([type="radio"]),
    .VIS-AssignRecordDiv .vis-input-wrap select,
    .VIS-AssignRecordDiv .vis-control-wrap > button {
        height: 26px;
    }

.vis-asrec-control-div {
    float: left;
    width: 50%;
    padding-left: 10px;
    margin-top: 8px;
}

.vis-asrec-btn {
    background-color: rgba(var(--v-c-primary), 1);
    border-radius: 7px;
    color: #ffffff;
}

.vis-asrec-popupdiv {
    background: #f3f3f3b3;
    border-radius: 6px;
}

.vis-asrec-flyout-footer {
    padding-left: 8px;
    gap: 1em;
    float: right;
    width: fit-content;
    margin-bottom: 8px;
}

.VIS-AssignRecordDiv .vis-input-wrap select {
    color: #fff;
    border: none;
    background-image: linear-gradient(45deg, transparent 50%, #ffffff 50%), linear-gradient(135deg, #ffffff 50%, transparent 50%);
}

.VIS-asrec-popupRecordCount {
    background: #fff;
    border-radius: 50%;
    color: #333;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    margin-left: 16px;
    margin-right: auto;
    text-align: center;
    font-size: 11px;
    width: 20px;
}

.VIS-AssignRecordDiv .vis-input-wrap select option {
    color: black;
}

.vis-asrec-count-circle {
    background: #fff;
    border-radius: 50%;
    color: #333;
    font-size: 11px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    display: inline-block;
}

.vis-asrec-dropdown {
    background: #fff;
    /*border: none;*/
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23333' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
    color: #333;
    height: 30px;
    font-size: 0.900em !important;
    border-radius: 5px;
    appearance: none;
}

.vis-asrec-poprecord-count {
    background: #F7C802;
    border-radius: 50%;
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 22px;
}

.vis-asrec-dropdown-container {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.9em;
}

.vis-assr-modal {
    background: #fff;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.vis-assr-modal-header {
    background: #4285f4;
    color: white;
    padding: 12px 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .vis-assr-modal-header button {
        background: none;
        border: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }

.vis-assr-modal-body {
    /* padding: 16px;*/
}

.vis-assr-note {
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
}

.vis-assr-search-row {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

    .vis-assr-search-row input {
        flex: 1;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .vis-assr-search-row button {
        background: #4285f4;
        border: none;
        color: white;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

.vis-assr-table-header {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 8px;*/
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
}

.vis-assr-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

    .vis-assr-table th, .vis-assr-table td {
        padding: 6px;
        border-bottom: 1px solid rgba(var(--v-c-on-secondary), .2);
        text-align: left;
    }

    .vis-assr-table th {
        position: sticky;
        top: 0;
        z-index: 2;
        background: #fff;
    }

.vis-assr-user-cell {
    display: flex;
    align-items: center;
    gap: 8px;
}

.vis-assr-user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #ccc;
    overflow: hidden;
}

.vis-assr-action-link {
    color: rgba(var(--v-c-primary), 1);
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}

.vis-assr-assign-above {
    color: #bbb;
    font-size: 13px;
    cursor: pointer;
}

.vis-assr-assignbtn {
    background: rgba(var(--v-c-primary), 1);
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.vis-assr-assignhead {
    text-decoration: none; /* normal state me underline hatana */
    cursor: pointer;
    color: rgba(var(--v-c-primary), 1);
    font-size: 13px;
}

    .vis-assr-assignhead:hover {
        text-decoration: underline; /* hover par underline */
    }

.vis-assr-action-link:hover {
    text-decoration: underline;
}

.Vis_upperDiv {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    margin-top: 12px
}

.vis-assr-tablediv {
    max-height: 300px;
    overflow: auto;
    margin-top: 12px;
    margin-bottom: 20px
}

.vis-assr-modal-body .vis-asrec-popup-scroll-container {
    /*padding:8px;*/
    margin-bottom: 12px;
}

.vis-assr-modal-body .vis-asrec-flyout-footer {
    /* padding-right: 8px;*/
}

.vis-assr-modal-body .modal-content {
    /*   width: 70%;*/
}

.vis-see-alllink {
    text-align: right;
}

.vis-widpop-tooltip {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vis-assr-user-updateby {
    max-width: 140px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.vis-assr-modal-body .close {
    font-size: 1.5rem;
}

.vis-asrec-maindiv .VIS-AssignRecordDiv .vis-input-wrap [data-hasBtn]:focus {
    border-right: 0;
}

.vis-asrec-popup-title {
    font-size: 1.125em;
    font-weight: 600;
    margin-bottom: -6px;
    margin-left: 3px;
}
.vis-disabled-btn {
    opacity: 0.5;
    pointer-events: none;
}