.vis-maindiv {
    background: linear-gradient(135deg, #6b8ce3, #8dc7f8);
    height: 100%;
    width: 100%;
}


.VIS_widget-container {
    height: 100%;
}

    .VIS_widget-container h4 {
        color: #fff;
        font-size: 17px;
        padding: 10px 10px 0;
    }


.VIS_checklist_records {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 .75em;
    width: 100%;
    margin-top: 7px;
    display: inline-block;
}


.vis-checklistrecord-col {
    cursor: pointer;
    gap: .75em;
    height: calc(100% - 91px);
    padding: 0 10px;
    margin-top: 15px;
}

    .vis-checklistrecord-col .vis-checklistcard {
        padding: 13px 10px;
    }

/*.vis-windowList {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}*/
.vis-blueColor {
    background-color: #23569B;
}


.vis-checklistrecord-box {
    font-size: 15px;
    color: #3d4f71;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}


.vis-tiles-checklistpage {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 10px;
}

    .vis-tiles-checklistpage .fa {
        font-size: 1.9em;
        color: rgba(var(--v-c-common),1);
        cursor: pointer;
    }

        .vis-tiles-checklistpage .fa:hover {
            color: rgba(var(--v-c-common),0.8);
        }


.vis-noRecordFound {
    display: flex;
    font-size: 20px;
    color: #fff;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.vis-total-count {
    font-size: 1em;
    color: rgba(var(--v-c-common),1);
}

.vis-total-windows-icon {
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

    .vis-total-windows-icon:hover {
        color: #f0ad4e; /* Optional hover effect */
    }

.VIS_checklistCount {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    /* color: #333;*/
    color: white;
    width: 44px;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(135deg, #6b8ce3a6, #8dc7f8);
}

.vis-show-checklist {
    text-decoration: underline;
    color: white;
    font-size: 22px;
}

.VIS_popupClose {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: rgba(var(--v-c-common),1);
    font-size: 27px;
    cursor: pointer;
    transition: color 0.3s ease;
}



.VIS_PopoverMaindiv {
    border-radius: 12px;
    padding: 20px;
    border: none;
    height: 100%;
}

.VIS_popupRecordCount {
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #333;
    background: #fff;
}

.VIS_WindowRecord {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.VIS_popuptitle {
    color: #fff;
    font-weight: 500 !important;
    font-size: 18px;
    margin: 0;
}

.VIS_popupRecordDetail {
    overflow-y: auto;
    max-height: 400px;
    margin-top: 15px;
    height: 90%;
}

.vis-checklistcard {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    margin: 8px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    /* background: hsla(0,0%,100%,.2);*/
}

.visWindowTabs {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: none;
    z-index: 1000;
    padding: 10px;
    animation: fadeIn 0.2s ease-in-out;
    max-height: 139px;
    overflow: auto;
}

    .visWindowTabs .vis-subheading {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        font-size: 14px;
        color: #3d4f71;
    }

.vis_checklistpageControls {
    align-items: center;
    display: flex;
    gap: 1rem;
    width: calc(100% - 40px);
    justify-content: center;
}

.vis-checklistrecord-col .vis-card-title.vis-checklistrecord-box {
    padding: 0;
    margin: 0;
}

/*.vis-checklistcard:hover .visWindowTabs {*/
/* display: block;*/
/*border-radius: 0px 0px 12px 12px;
}*/

/*.vis-checklistcard:hover {
    border-radius: 12px 12px 0 0;
}*/
.VIS_popupRecordDetail .vis-checklistcard:hover .visWindowTabs {
    top: 40px;
}

.VIS_popupRecordDetail .vis-checklistcard .vis-Tabdropdown.visWindowTabs {
    max-height: unset;
}

.VIS_popupRecordDetail .vis-checklistcard {
    margin-right: 10px;
    padding: 13px 10px;
}

.vis-editModeWidget .VIS_widget-container h4 {
    font-size: 14px;
}

.vis-editModeWidget .vis-card-title vis-checklistrecord-box {
    font-size: 13px;
    padding: -1px 12px
}

.vis-editModeWidget .vis-tiles-checklistpage {
    padding: 20px 10px 0px;
}

.vis-editModeWidget .vis_checklistpageControls {
    width: 100%;
}

.vis-editModeWidget .vis-checklistcard {
    padding: 4px 5px;
}

html[dir=rtl] .VIS_popupClose {
    left: 10px;
    right: auto;
}

html[dir=rtl] .vis-checklistrecord-col .vis-checklistcard {
    padding: 12px 10px;
}

html[dir=rtl] .VIS_popupRecordDetail .vis-checklistcard {
    margin-right: 0;
    margin-left: 10px;
}

@media screen and (max-width: 1366px) {
    .VIS_checklist_records {
        font-size: 11px;
    }

    .vis-editModeWidget .VIS_checklist_records {
        font-size: 11px;
    }
}


@media screen and (max-width: 1280px) {
    .vis-checklistrecord-box {
        padding: 5px 10px;
    }

    .VIS_checklistCount {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .vis-checklistrecord-col .vis-checklistcard {
        padding: 8px 10px;
    }

    html[dir=rtl] .vis-checklistrecord-col .vis-checklistcard {
        padding: 8px 10px;
    }
}

@media screen and (max-width: 1024px) {
    .VIS_checklist_records {
        font-size: 8px;
    }

    .vis-editModeWidget .VIS_checklist_records {
        font-size: 8px;
    }

    .vis-checklistrecord-col .vis-checklistcard {
        padding: 3px 10px;
    }

    html[dir=rtl] .vis-checklistrecord-col .vis-checklistcard {
        padding: 3px 10px;
    }

    html[dir=rtl] .vis-checklistrecord-col .vis-card-title.vis-checklistrecord-box {
        font-size: 12px;
    }

    html[dir=rtl] .visWindowTabs .vis-subheading {
        font-size: 11px;
    }
}

@media screen and (max-width:900px) {
    .VIS_checklist_records {
        font-size: 11px;
    }

    .vis-editModeWidget .VIS_checklist_records {
        font-size: 11px;
    }
}

@media screen and (max-width: 768px) {
    .VIS_checklist_records {
        font-size: 9px;
    }

    .vis-editModeWidget .VIS_checklist_records {
        font-size: 9px;
    }
}

@media screen and (max-width: 600px) {
    .VIS_checklist_records {
        font-size: 14px;
    }

    .vis-editModeWidget .VIS_checklist_records {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .VIS_checklist_records {
        font-size: 12px;
    }

    .vis-editModeWidget .VIS_checklist_records {
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .VIS_checklist_records {
        font-size: 9px;
    }

    .vis-editModeWidget .VIS_checklist_records {
        font-size: 9px;
    }
}

@media screen and (max-width: 320px) {
    .VIS_checklist_records {
        font-size: 8px;
    }

    .vis-editModeWidget .VIS_checklist_records {
        font-size: 8px;
    }
}

.vis-editModeWidget .vis-widget-item :not(.vis-widgetDelete) .vis-checklistrecord-box {
    padding: 2px 10px;
    font-size: 14px;
}

.vis-editModeWidget .vis-widget-item :not(.vis-widgetDelete) .vis-tiles-checklistpage i {
    font-size: 1.7em;
}

    .vis-editModeWidget .vis-widget-item :not(.vis-widgetDelete) .vis-tiles-checklistpage i.vis-show-more {
        margin-left: 0;
        font-size: 1.3rem;
    }

.vis-count-zoom-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
}

.vis-rec-zoom {
    font-size: 16px;
    margin-right: 3px;
}

.hoverable-text {
    margin-right: 10px;
}

.total-count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #333;
    width: 44px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: white;
    color: black;
}

.vis_innertabcount {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #333;
    width: 44px;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(135deg,#6b8ce3a6,#8dc7f8);
    color: white;
}
