.vis-cardCls {
    background-color: #f3f3f3;
    border-radius:6px;
}

.container {
    width: 100%;
    /*position:relative;*/
}

.vis-w-scrollerVerticalNewCls {
    padding: 0 0.625em;
    top: 4.6875em;
    width: 100%;
    z-index: 1;
    height: 100%;
}

.vis-workflowActivityTitleBar {
    align-items: center;
    background: rgba(var(--v-c-primary), 1);
    display: flex;
    padding: 0.625em;
    width: 100%;
    gap: 0.625em;
}

.wfactivity-homepage-activites {
    padding-right: 0px;
}

.vis-w-workflow-homepage-activites {
    height: calc(100% - 3.8em);
    overflow-y: auto;
    margin-top: 0.625em;
}

.VIS-ActiveCls .vis-w-workflow-homepage-activites {
    height: calc(100% - 8em);
}

.vis-w-workflowActivityDataCls {
}

.vis-w-Workflow-ScrollerVertical {
    width: 100%;
    z-index: 1;
    height: calc(100vh - 0px);
    border: 0.0625em solid #eee;
    border-radius:6px;
}

.vis-w-workflow-Activity {
    bottom: 0;
    /* padding: 0 10px; */
    /*position: absolute;*/
    top: 0px;
}

.vis-w-workflow-homepage-parentdiv {
    /* float: left; */
    padding-top: 0.125em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

.vis-w-welcomeScreenTab-notificationBubble {
    /*background: url(../Images/home/welcomeScreen-AlertBubbles.png) 0 0 no-repeat;*/
    color: rgba(var(--v-c-common), 1);
    display: block;
    font-size: 81%;
    font-weight: 700;
    height: 2.25em;
    text-align: center !important;
    width: 1.8125em;
}

.vis-w-topSecndDivCls {
    display: flex;
    align-items: center;
}

    .vis-w-topSecndDivCls .vis-w-welcomeScreenTab-notificationBubble, .vis-w-welcomeScreenFeeds .vis-w-welcomeScreenTab-notificationBubble {
        align-items: center;
        background-color: rgba(var(--v-c-on-secondary), 1);
        /*background-color: #fff;*/
        border-radius: 6px;
        /*color: rgba(var(--v-c-on-secondary), 1);*/
        color: #ffff;
        display: flex;
        height: 1.8em !important;
        justify-content: center;
        margin-left: .875em;
        margin-right: .875em;
        max-width: 5em;
        font-weight: 600;
        min-width: 2em;
        width: auto;
        padding: 0 4px;
        height: 100%;
    }

.vis-w-welcomeScreenFeeds .vis-noticeHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vis-w-welcomeScreenFeeds > .vis-w-row {
    width: calc(100% - 20px);
    margin: 0 10px;
}

.vis-w-welcomeScreenFeeds .vis-welcomeNoticeScreenFeedsListCls {
    padding: 0;
    margin: 0 .825em;
    width: calc(100% - 1.3em);
    position: relative;
    top: 0;
    height: calc(100% - 4.8em);
}

.vis-w-welcomeScreenFeeds > .vis-w-row h2 {
    color: rgba(var(--v-c-on-secondary), 1);
    /*color: #ffffff;*/
    float: left;
    font-size: 1.125em;
    margin-top: 0.125em;
    margin-bottom: 0;
    /* background: rgba(var(--v-c-common), 1);*/
    /*background: rgba(var(--v-c-primary), 1);*/
    height: 2.375em;
    border-radius: 0.375em;
    padding: 0 0.625em;
    /*  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;*/
}

    .vis-w-welcomeScreenFeeds > .vis-w-row h2 strong {
        font-weight: 600;
        float: left;
    }

.vis-w-iconsCls .vis-w-feedicon:last-child {
    border-left: 0;
}

.vis-w-feedicon {
    /*background: transparent;*/
    /*color: #ffffff;*/
    color: rgba(var(--v-c-primary),1);
    padding-left: 0.5625em;
    width: auto;
    border-left: 1px solid rgba(var(--v-c-primary),1);
    font-size: 0.875em;
    height: 1.5em;
    float: right;
    margin-top: 0px;
    cursor: pointer;
    margin-right: 0.625em;
    /**/
    align-items: center;
    display: flex;
    font-size: .875rem;
    height: 24px;
    justify-content: center;
    width: 24px
}

/*.vis-w-feedicon:hover {*/
/*color: #d9f0ff;*/
/*color: rgba(var(--v-c-on-secondary),1);
    }*/

.vis-w-workflow-homepage-parentdiv .vis-w-frm-data-search-wrap {
    border-radius: 0.375em;
    overflow: hidden;
    background-color: rgba(var(--v-c-common), 1);
}

.vis-w-frm-data-col-wrap .vis-wfSearch-btn {
    background-color: transparent;
    height: 1.875em;
}
/**/
.vis-w-frm-data-col-wrap label {
    color: #959697;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0
}

.vis-w-frm-data-col-wrap button {
    background-color: rgba(var(--v-c-on-secondary),.07);
    border: none;
    color: rgba(var(--v-c-on-secondary),.7);
    height: 26px;
    width: 27px
}

.vis-workflow-homepage-parentdiv .vis-w-frm-data-search-wrap {
    background-color: rgba(var(--v-c-common), 1);
    border-radius: .375em;
    overflow: hidden
}

.vis-w-frm-data-search-wrap {
    border: 1px solid rgba(var(--v-c-on-secondary),.1);
    display: flex;
    float: left;
    width: 100%
}

.vis-w-frm-data-col-wrap input .vis-w-frm-data-col-searchinput {
    border: none;
    flex: 1;
    height: 26px
}

.vis-w-frm-data-col-wrap input:not([type=button]), .vis-w-frm-data-col-wrap select {
    border-radius: 5px;
    color: rgba(var(--v-c-on-secondary),1);
    float: left;
    /*font-size: .75rem;*/
    font-size: .85rem;
    height: 26px;
    outline: none;
    padding-left: 5px;
    width: 100%;
    border: none;
}

.vis-app-aform-root .vis-w-workflow-homepage-parentdiv .vis-w-frm-data-col-wrap input {
    border-radius: 0.375em;
    font-size: 0.75em;
    padding: 0.3125em 0.625em;
}

.vis-app-aform-root input {
    border: 0.0625em solid rgba(var(--v-c-on-secondary),.1);
}

.vis-w-feedTitleBar {
    gap: 0.375em;
    align-items: center;
    border-bottom: 1px solid rgba(var(--v-c-on-secondary),.1);
    display: inline-block;
    display: flex;
    padding: 0 0 0 10px;
}

.vis-w-activityContainer {
    border: 0.0625em solid rgba(var(--v-c-secondary),1);
    box-shadow: 0.125em 0.0625em 0.3125em -0.125em #cccccc;
    border-radius: 0.375em;
    background-color: rgba(var(--v-c-common), 1);
    margin: 0 3px 10px 0;
    margin-right: 3px !important;
}

    .vis-w-activityContainer .vis-w-feedTitleBar {
        padding: 0.375em 0.625em;
        margin: 0 0px;
        background-color: rgba(var(--v-c-primary),.1);
        border-radius: 0.375em 0.375em 0 0;
        border-bottom: 0;
        display: flex;
    }

        .vis-w-activityContainer .vis-w-feedTitleBar h3 {
            color: rgba(var(--v-c-on-secondary),1);
        }

    .vis-w-activityContainer .vis-w-feedDetails {
        padding: 0.625em 0px 0;
    }

.vis-w-wfActivity-selectchk {
   /* font-weight: normal;*/
    text-align: left !important;
}

.vis-NoRecordCls {
    margin-top: 12.5em;
    text-align: center;
    display: block;
}

/*.workflow-homepage-activites */
.vis-w-feedTitleBar-buttons ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0
}
    /*.workflow-homepage-activites */
    .vis-w-feedTitleBar-buttons ul li {
        align-items: center;
        background: rgba(var(--v-c-on-secondary),.07);
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
    }
    /*.workflow-homepage-activites */
    .vis-w-feedTitleBar-buttons ul li, .vis-w-feedTitleBar .vis-w-feedTitleBar-buttons ul li {
        background-color: rgba(var(--v-c-primary),1);
        border: 0;
        width: 1.75em;
        height: 1.75em;
        border-radius: 0.375em;
        font-size: 1em;
        margin-left: .2rem;
    }

        /*.workflow-homepage-activites */
        .vis-w-feedTitleBar-buttons ul li a, .vis-w-feedTitleBar .vis-w-feedTitleBar-buttons ul li a {
            color: rgba(var(--v-c-on-primary),1)
        }

.vis-w-feedDetails p {
    /*display: inline;*/
    margin-bottom: 0rem;
}

.vis-w-activityContainer .vis-w-feedDetails pre {
    padding: 0 0.625em;
}

.vis-w-feedDetails pre strong, .vis-w-feedDetails p strong {
    flex: 1;
    font-weight: 400;
    padding-bottom: 2px
}

.vis-w-activityContainer .vis-w-feedDetails .vis-w-feedDateTime {
    text-align: center;
    padding: 0.375em 0;
    border-top: 0.0625em solid rgba(var(--v-c-on-secondary),.1);
    font-size: 0.875em;
    /*font-size: 0.625em;*/
    margin-top: .75em;
}

.vis-w-workflow-homepage-activites .vis-w-feedDetails {
    cursor: pointer;
}

.vis-w-activityContainer:hover {
    border-color: rgba(var(--v-c-primary), 1);
}

    .vis-w-activityContainer .vis-w-feedDetails:hover p {
        color: rgba(var(--v-c-primary), 1);
    }


.vis-secondary-clr {
    color: rgba(var(--v-c-on-secondary),.9) !important;
}

.vis-setworkflow-font label {
    font-size: .900em !important;
}

.vis-selectworkflow-fontsize {
    font-size: .900em !important;
}

.vis-w-workflowActivityDetails-Heading {
    text-align: left;
    align-items: center;
    display: flex;
    padding: 10px 0
}

.divWorkflowActivity {
    height: calc(100% - 3.125em);
    overflow-y: auto;
    padding-right:5px;
}

.vis-w-workflowActivityDetails {
    padding: 0.625em;
    background-color: rgba(var(--v-c-common),1);
    border-radius:6px;
}

    .vis-w-workflowActivityDetails .divWorkflowActivity h3 {
        color: rgba(var(--v-c-on-secondary),1);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .vis-w-workflowActivityDetails .vis-w-workflowActivityDetails-Heading {
        background-color: #f3f3f3;
        padding: 0 0.625em;
        height: 2.375em;
        border-radius: 0.375em;
        margin-bottom: 0.625em;
    }

.vis-w-workflowActivityDetails-Heading .vis-arrow-left {
    color: rgba(var(--v-c-primary), 1);
}

.vis-w-workflowActivityDetails .vis-w-workflowActivityDetails-Heading h3 {
    color: rgba(var(--v-c-primary), 1);
}

.vis-btn-widgetzoom {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: rgba(var(--v-c-primary),1);
    padding: 0;
    padding-left: 0.625em;
    padding-right: 0.625em;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}

    .vis-btn-widgetzoom .vis-btn-ico {
        margin-right: 0;
        font-size: 1.25em;
    }

.vis-w-ActionHeadingCls {
    background-color: rgba(var(--v-c-primary), .1);
    border-radius: 0.375em;
    padding: 0.375em 0.625em;
}

.vis-w-home-wf-forwardWrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3125em;
    padding-top: 0.9375em;
    border-top: 0.0625em solid #e4e4e4;
}

    .vis-w-home-wf-forwardWrap .vis-w-input-widgetswrap {
        margin-bottom: 0px;
    }

    .vis-w-home-wf-forwardWrap .vis-w-home-wf-forwardInput {
        width: 87%;
    }

    .vis-w-home-wf-forwardWrap .vis-w-home-wf-forwardBtn {
        width: auto;
        padding: 0;
    }

        .vis-w-home-wf-forwardWrap .vis-w-home-wf-forwardBtn .vis-btn-done {
            width: 1.625em;
        }

    .vis-w-home-wf-forwardWrap .vis-w-workflowActivityIcons.vis-w-icon-doneButton {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 1.9em;
        padding: 0;
    }

.vis-w-workflowActivityIcons.vis-w-icon-doneButton {
    float: right;
    height: 26px;
}

.vis-w-IIColumnContent li {
    padding: 0;
}

ul.vis-w-IIColumnContent {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.vis-w-IIColumnContent .vis-w-input-widgetswrap textarea {
    height: auto;
}

.vis-w-IIColumnContent .vis-w-home-wf-answerWrap .vis-w-input-widgetswrap {
    margin: 0;
}

.vis-w-IIColumnContent .vis-w-home-wf-answerWrap {
    margin-bottom: 0.9375em;
    align-items: center;
    gap: 0.75em;
    justify-content: space-between;
}

.vis-w-home-wf-answerWrap {
    display: flex;
    margin-top: .75rem
}

.vis-w-home-wf-answerBtn {
    margin-bottom: 0;
}

    .vis-w-home-wf-answerBtn .vis-btn-ico {
        margin: 0;
    }

    .vis-w-home-wf-answerBtn .vis-btn-done {
        padding: 0;
    }

.vis-w-IIColumnContent .vis-w-home-wf-answerWrap .vis-w-home-wf-answerInput {
    width: 87%;
}

.vis-w-home-wf-answerBtn .vis-w-workflowActivityIcons.vis-w-icon-doneButton {
    width: 1.9em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vis-w-IIColumnContent .vis-w-home-wf-answerWrap .vis-w-home-wf-answerBtn {
    width: auto;
}

.historyArrow {
    display: flex;
}

    .historyArrow .vis {
        font-size: 0.9375em;
    }

ul.vis-w-IIColumnContent li .vis-w-home-wf-forwardInput {
    width: 87%;
}

.vis-vertical-img {
    position: relative;
}

    .vis-vertical-img img {
        display: none;
    }

    .vis-vertical-img::before {
        content: " ";
        display: block;
        height: 2.5em;
        width: 0.25em;
        background-color: rgba(var(--v-c-primary), 1);
        margin: auto;
    }

.vis-approved_wrap {
    display: flex;
    align-items: center;
    position: relative;
}

.vis-approved_wrap {
    background: transparent;
}

    .vis-approved_wrap::before {
        content: " ";
        display: block;
        height: 100%;
        width: 0.25em;
        background-color: rgba(var(--v-c-primary), 1);
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
    }

    .vis-approved_wrap .vis-ApproveCircleCls {
        position: absolute;
        content: " ";
        display: block;
        border-radius: 100%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1.6em;
        height: 1.6em;
        border: 0.125em solid rgba(var(--v-c-primary), 1);
        background-color: rgba(var(--v-c-common), 1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
.vis-w-workflow-Activity .vis-approved_wrap {
    overflow:inherit;
}
.vis-ApproveCircleCls .vis {
    font-size: .875em;
    color: rgba(var(--v-c-primary), 1);
}

.vis-pending_wrap {
    position: relative;
    background: transparent;
}

    .vis-pending_wrap::before {
        display: flex;
        width: 1.6em;
        height: 1.6em;
        border-radius: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        content: " ";
        border: 0.125em solid rgba(var(--v-c-primary), 1);
    }

    .vis-pending_wrap::after {
        display: block;
        content: " ";
        width: 0.6em;
        height: 0.6em;
        border-radius: 100%;
        background-color: rgba(var(--v-c-primary), 1);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

.vis-start_wrap {
    position: relative;
    background: transparent;
    overflow: inherit;
}

    .vis-start_wrap::after {
        display: block;
        content: " ";
        width: 0.6em;
        height: 0.6em;
        border-radius: 100%;
        background-color: rgba(var(--v-c-primary), 1);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

.vis-right-part .vis-app_by {
    display: block;
}

.vis-w-feedTitleBar h3 {
    font-size: 1em;
    flex: 1;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vis-w-feedDetails pre {
    font-size: 1em;
    color: rgba(var(--v-c-on-secondary),1);
    display: flex;
    font-family: Roboto-Regular !important;
    margin: 0;
    white-space: pre-line;
    width: 100%
}

.vis-w-frm-data-col-wrap select {
    font-size: 1em;
    /*font-size: 0.75em;*/
}

.vis-editModeWidget .vis-w-welcomeScreenFeeds {
    font-size: 10px;
}

.vis-w-txtBold {
    font-weight: 600;
}

.vis-w-workflowActivityDetails h3 {
    font-size: 1.125em;
    flex: 1;
}
.vis-w-workflow-Activity .VIS_Pref_callout {
    left: 15px !important;
}
.vis-w-workflow-Activity .vis-left-part span{
    left:-15px !important;
}
/*.vis-w-workflowActivityDetails-Heading a:hover {*/
/*color: rgba(var(--v-c-common),1);*/
/*color: #d9f0ff;*/
/*color: rgba(var(--v-c-on-secondary),1);
}*/
.vis-w-IIColumnContent .vis-w-input-widgetswrap select ~ label {
    font-size: 1em;
    /*font-size: 0.75em;*/
}

.vis-w-IIColumnContent .vis-w-input-widgetswrap input:not(:placeholder-shown) ~ label {
    font-size: 1em;
    /*font-size: 0.75em;*/
}

.vis-w-input-widgetswrap textarea {
    font-size: 0.875em
}

@media screen and (max-width: 1920px) {
    .vis-editModeWidget .vis-w-workflow-homepage-parentdiv .vis-w-setSearchSize {
        font-size: 1em !important;
    }
}

@media screen and (max-width: 1600px) {
    .vis-editModeWidget .vis-w-workflow-homepage-parentdiv .vis-w-setSearchSize {
        font-size: 0.9em !important;
    }
}

@media screen and (max-width:1400px) {
    .vis-w-workflow-homepage-parentdiv .vis-w-frm-data-search-wrap {
        display: flex;
        align-items: center;
    }

    .VIS-ActiveCls .vis-w-workflow-homepage-activites {
        height: calc(100% - 8em);
    }

    .vis-editModeWidget .vis-w-workflow-homepage-parentdiv .vis-w-setSearchSize {
        font-size: 0.9em !important;
    }
}

@media screen and (max-width:1366px) {
    .vis-editModeWidget .vis-w-welcomeScreenFeeds {
        font-size: 9px
    }

    .vis-editModeWidget .vis-w-workflow-Activity {
        font-size: 12px;
    }

    .vis-w-welcomeScreenFeeds > .vis-w-row h2 {
        font-size: 1.2em;
    }
}

@media screen and (max-width:1024px) {
    .vis-w-welcomeScreenFeeds {
        font-size: 10px;
    }

    .vis-editModeWidget .vis-w-welcomeScreenFeeds {
        font-size: 6px;
    }

    .vis-w-activityContainer {
        font-size: 11px;
    }

    .VIS-ActiveCls .vis-w-workflow-homepage-activites {
        height: calc(100% - 9em);
    }

    .vis-w-setSearchSize {
        font-size: 0.9em !important;
    }

    .vis-editModeWidget .vis-w-workflow-homepage-parentdiv .vis-w-setSearchSize {
        font-size: 0.9em !important;
    }
}

@media screen and (max-width:900px) {
    .vis-w-workflow-homepage-parentdiv {
        font-size: 11px;
    }

    .vis-w-activityContainer {
        font-size: 13px;
    }

    .vis-editModeWidget .vis-w-welcomeScreenFeeds {
        font-size: 9px;
    }

    .vis-editModeWidget .vis-w-workflow-homepage-parentdiv .vis-w-setSearchSize {
        font-size: 0.7em !important;
    }
}

@media screen and (max-width:768px) {
    .vis-editModeWidget .vis-w-workflow-homepage-parentdiv .vis-w-setSearchSize {
        font-size: 0.6em !important;
    }
}

@media screen and (max-width:680px) {
    .vis-w-welcomeScreenFeeds {
        font-size: 8px;
    }

    .vis-w-workflow-homepage-activites {
        height: calc(100% - 3.6em);
    }

    .vis-w-workflow-Activity {
        font-size: 11px;
    }

    .vis-w-workflow-homepage-parentdiv {
        font-size: 9px;
    }

    .VIS-ActiveCls.vis-w-workflow-homepage-parentdiv {
        font-size: 7px;
    }

    .vis-w-welcomeScreenFeeds > .vis-w-row h2 {
        font-size: 1.2em;
    }

    .vis-editModeWidget .vis-w-workflow-homepage-parentdiv .vis-w-setSearchSize {
        font-size: 0.6em !important;
    }
}

.vis-w-h2Div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vis-w-activityContainerDiv {
    margin-right: 0.1875em !important;
}

.vis-selectchkDiv {
    font-weight: normal;
    text-align: left !important;
}

.vis-preCls {
    margin-bottom: 0px;
    font-size: 0.875em;
    font-family: NoirPro-Regular;
    color: inherit;
}

.vis-btnCls {
    margin-bottom: 10px;
    margin-top: 0px;
    width: 100%;
}

.vis-xBtnCls {
    margin-bottom: 0.625em;
    margin-top: 0px;
    width: 100%;
}

.vis-aTagCls {
    margin-right: 0.3125em;
}

@media screen and (max-width:480px) {
    .vis-w-welcomeScreenFeeds {
        font-size: 14px;
    }

    .vis-w-workflow-Activity {
        font-size: 13px;
    }
}

@media screen and (max-width:350px) {
    .vis-w-welcomeScreenFeeds {
        font-size: 10px;
    }
}

@media screen and (max-width:320px) {
    .vis-w-welcomeScreenFeeds {
        font-size: 9px;
    }

    .vis-w-workflow-Activity {
        font-size: 11px;
    }

    .vis-w-workflowActivityDetails h3 {
        font-size: 0.875em;
    }
}

.vis-w-workflow-textarea {
    width: 100%;
    resize: none;
}

.vis-workflow-historyCls {
    margin-top: 0.9375em;
    margin-bottom: 0.9375em;
}

.vis-workflow-startCls {
    margin-bottom: -0.5em;
}

.vis-w-workflow-welcomfeed-cls {
    height: calc(100% - 54px);
    /*border: 1px solid rgba(0,0,0,.125);*/
    border-radius: .25em
}

.vis-workflow-pre-cls {
    text-align: left;
}

.vis-workflow-h2-cls {
    margin-left: 0.3125em;
}

.vis-workflow-p-cls {
    margin-bottom: 0.3125em !important;
}
/*NoticeWidget*/
.vis-welcomeScreenNoticeMainDiv {
    background-color: #f3f3f3;
    /*border: 1px solid rgba(0,0,0,.125);*/
    border-radius: 6px;
}

.vis-secndDiv {
    display: flex;
    align-items: center;
}

.vis-countDivCls {
    margin-left: 0.4375em;
    margin-top: -0.125em;
}

.vis-hlnkTabDataRefCls {
    float: right;
    margin-top: 0px;
    cursor: pointer;
}

.vis-scrollerVerticalCls {
    margin-left: auto;
    overflow-y: auto;
}

.vis-snoticemoreCls {
    color: rgba(var(--v-c-primary), 1);
    float: right;
    height: 1.25em;
}

.vis-snoticelessCls {
    display: none;
    color: rgba(var(--v-c-primary), 1);
    float: right;
    height: 20px;
    /*vis-feedTitleBar;*/
}

.vis-strongWhiteClrCls {
    color: rgba(var(--v-c-on-secondary), 1) !important;
    cursor: context-menu !important;
}

.vis-notClickCls {
    cursor: context-menu !important;
}

.vis-clickCls {
    cursor: pointer;
}

.vis-pTagStyleCls {
    margin-top: 12.5em;
    text-align: center;
}

.vis-w-zoomClrChngCls {
    background-color: rgba(var(--v-c-primary),.0) !important;
}

    .vis-w-zoomClrChngCls a {
        color: rgba(var(--v-c-primary), 1) !important;
    }
/*Request widget*/
.vis-RequestwelcomeScreenCls {
    background-color: #f3f3f3;
    /*border: 1px solid rgba(0,0,0,.125);*/
    border-radius: 6px;
}

.vis-RequestWidth {
    width: 100%;
}

.vis-RequestInnerDivCls {
    display: flex;
    align-items: center;
}

.vis-RequestStrongCls {
    float: left;
}

.vis-RequestHlnkTabDataRefReq {
    float: right;
    margin-top: 0px;
    cursor: pointer;
}

.vis-RequestNewNtsCls {
    float: right;
    margin-top: 0px;
    cursor: pointer;
    margin-right: 6px;
}

.vis-RequestWelcomeScreenFeedsListCls {
    margin-left: auto;
    overflow-y: auto;
    padding: 0;
    margin: 0 .625em;
    width: calc(100% - 1.3em);
    position: relative;
    top: 0;
    height: calc(100% - 4.8em);
}

.vis-r-notRecordFndCls {
    margin-top: 12.5em;
    text-align: center;
}

.vis-w-requestFlx {
    display: flex;
}
/*Action Widgets*/
.vis-a-actionsModelMain {
    background-color: rgba(var(--v-c-on-secondary), 0.5);
}
.modal-content.vis-a-actionsMcontent {
    border-radius: 7px;
}
.vis-a-actionsMcontent .vis-cardCls {
    border-radius: 6px;
}
.vis-a-actionsMcontent .vis-w-workflow-welcomfeed-cls {
    border-radius: 6px;
}
.vis-a-task-status-panel {
    height: 100%;
    width: 100%;
    padding: 0.2em;
}

.vis-a-statusBox-container {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    gap: 0.4em;
    height: 100%;
    background-color: #ffffff;
    padding: 0.3rem;
}

.vis-a-status-box {
    width: 100%;
    text-align: center;
    display: flex;
    border-radius: 0.375em;
    border: 1px solid transparent;
    align-items: center;
    justify-content: space-between;
    padding: 0.625em;
}

    .vis-a-status-box .fa, .vis-a-status-box .vis {
        font-size: 1.8em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.vis-a-headWico {
    display: flex;
    align-items: center;
    gap: 0.625em;
}

.vis-a-status-name {
    font-size: 1.2em;
    color: #333333;
}

.vis-a-status-count {
    min-width: 6.875em;
    border-radius: 3.125em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 1.75em;
}

.vis-a-green-box {
    border-color: #B1FFEF;
    background-color: #E6FFFA;
}

    .vis-a-green-box .vis, .vis-a-green-box .fa {
        color: #00C8A0;
    }

.vis-a-orange-box {
    border-color: #FFE6B3;
    background-color: #FFF1D4;
}

    .vis-a-orange-box .vis, .vis-a-orange-box .fa {
        color: #FECB62;
    }

.vis-a-blue-box {
    border-color: #C3DDFF;
    background-color: #EBF3FE;
}

    .vis-a-blue-box .vis, .vis-a-blue-box .fa {
        color: #5093EF;
    }

.vis-a-greenbg {
    background-color: #00C8A0;
}

.vis-a-bluebg {
    background-color: #5093EF;
}

.vis-a-orangebg {
    background-color: #FECB62;
}

.vis-a-modelHeightSetCls {
    height: calc(100vh - 80px);
}

    .vis-a-modelHeightSetCls .vis-w-welcomeScreenFeeds .vis-welcomeNoticeScreenFeedsListCls {
        height: calc(100vh - 12em) !important;
        height: 89.5% !important;
    }

    .vis-a-modelHeightSetCls .vis-a-setHeightReqstAtcion {
        height: calc(100vh - 148px) !important;
    }

    .vis-a-modelHeightSetCls .vis-w-welcomeScreenFeeds .VIS-ActiveCls .vis-w-workflow-homepage-activites {
        height: calc(100vh - 237px) !important;
    }

    .vis-a-modelHeightSetCls .vis-w-workflow-welcomfeed-cls {
        height: calc(100vh - 80px);
    }

    .vis-a-modelHeightSetCls .vis-w-workflow-homepage-activites {
        height: calc(100vh - 185px);
    }

    .vis-a-modelHeightSetCls .vis-RequestWelcomeScreenFeedsListCls {
        height: calc(100% - 3.8em);
    }

    .vis-a-modelHeightSetCls .scrollerVertical .vis-a-pTagSetHeight, .vis-a-modelHeightSetCls .vis-w-scrollerVerticalNewCls .vis-a-pTagSetHeight {
        margin-top: 0px !important;
        text-align: center;
        padding: 19% 0;
    }

.vis-a-actionsWidgetCls .vis-w-feedicon {
    /*display: block;*/
    display: flex !important;
    cursor:pointer;
}

@media screen and (max-width: 2000px) {
    .vis-a-task-status-panel {
        font-size: 13px;
    }

    .vis-editModeWidget .vis-a-task-status-panel {
        font-size: 13px;
    }
}

@media screen and (max-width: 1920px) {
    .vis-a-task-status-panel {
        font-size: 13px;
    }

    .vis-editModeWidget .vis-a-task-status-panel {
        font-size: 8px;
    }
}

@media screen and (max-width: 1367px) {
    .vis-a-task-status-panel {
        font-size: 13px;
    }

    .vis-editModeWidget .vis-a-task-status-panel {
        font-size: 8px;
    }
}

@media screen and (max-width: 1200px) {
    .vis-a-task-status-panel {
        font-size: 11px;
    }

    .vis-editModeWidget .vis-a-task-status-panel {
        font-size: 7px;
    }
}

@media screen and (max-width: 1024px) {
    .vis-a-task-status-panel {
        font-size: 9px;
    }

    .vis-editModeWidget .vis-a-task-status-panel {
        font-size: 6px;
    }
}

@media screen and (max-width:900px) {
    .vis-a-task-status-panel {
        font-size: 12px;
    }

    .vis-editModeWidget .vis-a-task-status-panel {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    .vis-a-task-status-panel {
        font-size: 10px;
    }

    .vis-editModeWidget .vis-a-task-status-panel {
        font-size: 7px;
    }
}

@media screen and (max-width: 600px) {
    .vis-a-task-status-panel {
        font-size: 7px;
    }

    .vis-editModeWidget .vis-a-task-status-panel {
        font-size: 5px;
    }
}

@media screen and (max-width: 480px) {
    .vis-a-task-status-panel {
        font-size: 10px;
    }

    .vis-editModeWidget .vis-a-task-status-panel {
        font-size: 9px;
    }
}

@media screen and (max-width: 375px) {
    .vis-a-task-status-panel {
        font-size: 10px;
    }

    .vis-editModeWidget .vis-a-task-status-panel {
        font-size: 6px;
    }
}

@media screen and (max-width: 320px) {
    .vis-a-task-status-panel {
        font-size: 9px;
    }

    .vis-editModeWidget .vis-a-task-status-panel {
        font-size: 5px;
    }
}

.vis-a-closeBtnCls.close:hover {
    color: rgba(var(--v-c-primary), 1);
}

.vis-a-closeBtnCls.close {
    position: absolute;
    right: -12px;
    top: -12px;
    padding: 6px;
    border-radius: 50px;
    background-color: #f3f3f3;
    color: rgba(var(--v-c-on-secondary), 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    z-index: 2;
    opacity: 1 !important;
    border: 1px solid rgba(var(--v-c-on-secondary), 1)
}

    .vis-a-closeBtnCls.close span {
        position: relative;
      /*  top: -2px;*/
    }



.vis-a-purple-box {
    border-color: #7f46f061;
    background-color: #7f46f029;
}

    .vis-a-purple-box .vis, .vis-a-purple-box .fa {
        color: #7F46F0;
    }

.vis-followups-red-dot {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 10px; /* Size of the dot */
    height: 10px; /* Size of the dot */
    background-color: red; /* Red color */
    border-radius: 50%; /* Makes it circular */
}

.vis-followups-label {
    position: relative;
}

.vis-a-purplebg {
    background-color: #7F46F0;
}



.vis-ts-panel-twoByTwo .vis-a-statusBox-container {
    grid-template-columns: repeat(2,1fr);
    padding: 0;
}

    .vis-ts-panel-twoByTwo .vis-a-statusBox-container .vis-a-status-box {
        flex-direction: column;
        justify-content: center;
    }
    .vis-ts-panel-twoByTwo .vis-a-statusBox-container .vis-a-headWico {
        display: block;
    }
    .vis-ts-panel-twoByTwo .vis-a-statusBox-container .vis-a-status-count {
        font-size: 1.2em;
        min-width: 40px;
        padding: 0 10px;
    }
    .vis-ts-panel-twoByTwo .vis-a-statusBox-container .vis-followups-red-dot {
        height: 8px;
        right: 30px;
        top: 30px;
        width: 8px;
    }
    .vis-ts-panel-twoByTwo .vis-a-statusBox-container .vis-a-status-name {
        font-size: 1.5em;
        margin: 2px 0;
    }
    .vis-ts-panel-twoByTwo .vis-a-statusBox-container .vis-a-headWico i {
        font-size: 2.5em;
    }
.vis-ts-panel-twoByTwo.vis-ts-panel-oneByOne .vis-a-statusBox-container .vis-a-headWico i {
    font-size: 1.5em;
}
.vis-ts-panel-twoByTwo.vis-ts-panel-oneByOne .vis-a-statusBox-container .vis-a-status-count {
    font-size: 1em;
}
.vis-ts-panel-twoByTwo.vis-ts-panel-oneByOne .vis-a-statusBox-container .vis-a-status-name {
    font-size: 1em;
}
.vis-ts-panel-twoByTwo.vis-ts-panel-oneByOne .vis-a-status-box {
    padding: .5em .625em;
}
.vis-apanel-rb-ul li.vis-subscribeoverlay-item{
    min-width: 120px;
}
.vis-feedDetails p.vis-comment-desc {
    white-space: pre-line;
    display: inline-block;
    width: calc(100% - 58px);
}
.vis-feedContainer .vis-txtFllCmnt {
    overflow-y: hidden;
    min-height: 30px;
}
html[dir=rtl] .vis-feedIcons.vis-icon-viewMoreComments {
    margin: 4px 0px 0 4px;
    float: none;
}