.VIS-template-excel-block {
    padding: 10px;
}

    .VIS-template-excel-block h6 {
        cursor: pointer;
    }

        .VIS-template-excel-block h6:hover {
            text-decoration: underline;
        }
.VIS-excelItemsBlock {
    padding: 5px 4px;
}

.VIS-excelItem {
    border: 1px solid rgba(var(--v-c-secondary), 1);
    border-radius: 8px;
    padding: 8px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .VIS-excelItem:last-child{
        margin-bottom: 0px;
    }
    button.VIS-excelDownloadBtn {
        background: none;
        border: none;
        padding: 0;
        transition: all 0.3s ease-in-out;
    }
    button.VIS-excelDownloadBtn:hover {
        color: rgba(var(--v-c-primary), 1);
    }
.ui-widget.ui-widget-content .VIS-excelItemsBlock button:focus {
    box-shadow: none !important;
}


.vis-downloadFile-col {
    background-color: rgba(var(--v-c-primary), 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 0.5em;
}

    .vis-downloadFile-col .vis {
        font-size: 2.2em;
        color: rgba(var(--v-c-primary), 1);
    }

    .vis-downloadFile-col a {
        font-size: 0.875em;
        color: rgba(var(--v-c-primary), 1);
        text-decoration: underline;
    }

.vis-downloadwidgeticonsize {
    font-size: 30px;
}
.vis-downloadwidgetpopupiconsize {
    font-size: 22px;
}
.vis-downloadwidgeticoncolor {
  color:rgba(var(--v-c-on-secondary), 1);
}

@media screen and (max-width: 1366px) {
    .vis-downloadFile-col {
        font-size: 13px;
    }

    .vis-editModeWidget .vis-downloadFile-col {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .vis-downloadFile-col {
        font-size: 12px;
    }

    .vis-editModeWidget .vis-downloadFile-col {
        font-size: 10px;
    }
}

@media screen and (max-width:900px) {
    .vis-downloadFile-col {
        font-size: 14px;
    }

    .vis-editModeWidget .vis-downloadFile-col {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .vis-downloadFile-col {
        font-size: 13px;
    }

    .vis-editModeWidget .vis-downloadFile-col {
        font-size: 11px;
    }
}

@media screen and (max-width: 600px) {
    .vis-downloadFile-col {
        font-size: 16px;
    }

    .vis-editModeWidget .vis-downloadFile-col {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .vis-downloadFile-col {
        font-size: 15px;
    }

    .vis-editModeWidget .vis-downloadFile-col {
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .vis-downloadFile-col {
        font-size: 14px;
    }

    .vis-editModeWidget .vis-downloadFile-col {
        font-size: 11px;
    }
}

@media screen and (max-width: 320px) {
    .vis-downloadFile-col {
        font-size: 12px;
    }

    .vis-editModeWidget .vis-downloadFile-col {
        font-size: 10px;
    }
}
