.flip-card {
    perspective: 62.5em;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}


/*.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}*/


.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: #f8f9fa;
    color: #000;
}


.flip-card-back {
    background-color: #343a40;
    color: #000;
    transform: rotateY(180deg);
    z-index:2;
}


.card-img-top {
    max-height: 12.5em;
    object-fit: cover;
}
.BackBtnCls {
    text-align: right;
    margin-right: 0.625em;
    cursor: pointer
}
.container{
    width:100%;
    /*position:relative;*/
}
.scrollerVerticalNewCls {
    padding: 0 0.625em;
    top: 4.6875em;
    width: 100%;
    z-index: 1;
    height: 100%;
}
.vis-workflowActivityTitleBar {
    align-items: center;
    background: rgba(var(--v-c-primary), 1);
    display: flex;
    padding: 0.625em;
    width: 100%;
    gap: 0.625em;
}
/*.wfactivity-homepage-activites {*/
.workflow-homepage-activites {
    height: calc(100% - 7.8em);
    overflow-y: auto;
    margin-top: 0.625em;
}
.VIS-ActiveCls .workflow-homepage-activites {
    height: calc(100% - 11.8em);
}
.workflowActivityDataCls {
}
.Workflow-ScrollerVertical {
    width: 100%;
    z-index: 1;
    height: calc(100vh - 0px);
    border: 0.0625em solid #eee;
}
.workflow-Activity {
    bottom: 0;
    /* padding: 0 10px; */
    /*position: absolute;*/
    top: 0px;
}
.workflow-homepage-parentdiv {
    /* float: left; */
    padding-top: 0.125em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}
.vis-welcomeScreenTab-notificationBubble {
    background: url(../Images/home/welcomeScreen-AlertBubbles.png) 0 0 no-repeat;
    color: #fff;
    display: block;
    font-size: 60%;
    font-weight: 700;
    height: 2.25em;   
    text-align: center !important;
    width: 1.8125em;
}
.vis-topSecndDivCls {
    display: flex;
    align-items: center;
}
    .vis-topSecndDivCls .vis-welcomeScreenTab-notificationBubble, .vis-welcomeScreenFeeds .vis-welcomeScreenTab-notificationBubble {
        align-items: center;
        background: transparent;
        background-color: #fff;
        border-radius: 6px;
        color: rgba(var(--v-c-primary), 1);
        display: flex;
        height: 1.8em;
        justify-content: center;
        margin-left: .375em;
        max-width: 5em;
        font-weight: 600;
        min-width: 2em;
        width: auto;
        padding: 0 4px;
    }
.vis-welcomeScreenFeeds .vis-noticeHeading {
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.vis-welcomeScreenFeeds > .row {
    width: calc(100% - 20px);
    margin:0 10px;
}
.vis-welcomeScreenFeeds #welcomeScreenFeedsList {
    padding: 0;
    margin: 0 .625em;
    width: calc(100% - 1.3em);
    position: relative;
    top: 0;
    height: calc(100% - 4.8em);
}
    .vis-welcomeScreenFeeds > .row h2 {
        color: #ffffff;
        float: left;
        font-size: 1.125em;
        margin-top: 0.625em;
        background: rgba(var(--v-c-primary), 1);
        height: 2.375em;
        border-radius: 0.375em;
        padding: 0 0.625em;
    }
.vis-welcomeScreenFeeds > .row h2 strong {
    font-weight: 500;
}

.vis-feedicon {
    background: transparent;
    color: #ffffff;
    padding-left: 0.5625em;
    width: auto;
    border-color: #ffffff;
    border-style: solid;
    border-width: 0 0 0 0.0625em;
    font-size: 0.875em;
    height: 1.5em;
}
.vis-feedicon:hover {
    color: #d9f0ff;
}
.workflow-homepage-parentdiv .frm-data-search-wrap {
    border-radius: 0.375em;
    overflow: hidden;
    background-color: #ffffff;
}
.frm-data-col-wrap .vis-wfSearch-btn {
    background-color:transparent;
}
.vis-app-aform-root .workflow-homepage-parentdiv .frm-data-col-wrap input {
    border-radius: 0.375em;
    font-size: 0.75em;
    padding: 0.3125em 0.625em;
}
.vis-app-aform-root input {
    border: 0.0625em solid rgba(var(--v-c-on-secondary),.1);
}
.vis-activityContainer {
    border: 0.0625em solid rgba(var(--v-c-secondary),1);
    box-shadow: 0.125em 0.0625em 0.3125em -0.125em #cccccc;
    border-radius: 0.375em;
    background-color: #ffffff;
    margin:0 3px 10px 0;
}
    .vis-activityContainer .vis-feedTitleBar {
        padding: 0.375em 0.625em;
        margin: 0 0px;
        background-color: rgba(var(--v-c-primary),.2);
        border-radius: 0.375em 0.375em 0 0;
        border-bottom: 0;
    }
    .vis-activityContainer .vis-feedTitleBar h3 {
        color: rgba(var(--v-c-on-secondary),1);
    }
    .vis-activityContainer .vis-feedDetails {
        padding: 0.625em 0px 0;
    }
.workflow-homepage-activites .vis-feedTitleBar-buttons ul li, .vis-feedTitleBar .vis-feedTitleBar-buttons ul li {
    background-color: rgba(var(--v-c-primary),1);
    border: 0;
    width: 1.75em;
    height: 1.75em;
    border-radius: 0.375em;
    font-size: 1em;
    margin-left: .2rem;
}
    .workflow-homepage-activites .vis-feedTitleBar-buttons ul li a, .vis-feedTitleBar .vis-feedTitleBar-buttons ul li a{
        color: rgba(var(--v-c-on-primary),1)
    }
.vis-activityContainer .vis-feedDetails pre {
    padding: 0 0.625em;
}
.vis-activityContainer .vis-feedDetails .vis-feedDateTime {
    text-align: center;
    padding: 0.375em 0;
    border-top: 0.0625em solid rgba(var(--v-c-on-secondary),.1);
    font-size: 0.625em;
    margin-top:.75em;
}
.vis-workflowActivityDetails {
    padding: 0.625em;
}
    .vis-workflowActivityDetails .divWorkflowActivity h3 {
        color: rgba(var(--v-c-on-secondary),1);
        display:flex;
        align-items:center;
        justify-content:space-between;
    }

    .vis-workflowActivityDetails .vis-workflowActivityDetails-Heading {
        background-color: rgba(var(--v-c-primary),1);
        padding: 0 0.625em;
        height: 2.375em;
        border-radius: 0.375em;
        margin-bottom: 0.625em;
    }
.vis-workflowActivityDetails-Heading .vis-arrow-left{
    color:#ffffff;
}
.vis-workflowActivityDetails .vis-workflowActivityDetails-Heading h3 {
    color: rgba(var(--v-c-common), 1);
}
.vis-btn-zoom {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: rgba(var(--v-c-common),1);
    padding:0;
}
    .vis-btn-zoom .vis-btn-ico {
        margin-right: 0;
        font-size: 1.25em;
    }
.vis-ActionHeadingCls {
    background-color: rgba(var(--v-c-primary), .2);
    border-radius: 0.375em;
    padding: 0.375em 0.625em;
}
.vis-home-wf-forwardWrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3125em;
    padding-top: 0.9375em;
    border-top: 0.0625em solid #e4e4e4;
}
.vis-home-wf-forwardWrap .vis-input-wrap {
    margin-bottom: 0px;
}
.vis-home-wf-forwardWrap .vis-home-wf-forwardInput {
    width:87%;
}
    .vis-home-wf-forwardWrap .vis-home-wf-forwardBtn {
        width: auto;
        padding: 0;
    }
        .vis-home-wf-forwardWrap .vis-home-wf-forwardBtn .vis-btn-done {
            width: 1.625em;
        }
    .vis-home-wf-forwardWrap .vis-workflowActivityIcons.vis-icon-doneButton {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 1.9em;
        padding: 0;
    }
    .vis-IIColumnContent li {
        padding: 0;
    }

.vis-IIColumnContent .vis-input-wrap textarea {
    height:auto;
}
.vis-IIColumnContent .vis-home-wf-answerWrap .vis-input-wrap {
    margin:0;
}
.vis-IIColumnContent .vis-home-wf-answerWrap {
    margin-bottom: 0.9375em;
    align-items: center;
    gap: 0.75em;
    justify-content: space-between;
}
.vis-home-wf-answerBtn{
    margin-bottom:0;

}
.vis-home-wf-answerBtn .vis-btn-ico {
    margin: 0;
}

.vis-home-wf-answerBtn .vis-btn-done {
    padding: 0;
}
.vis-IIColumnContent .vis-home-wf-answerWrap .vis-home-wf-answerInput {
    width: 87%;
}
.vis-home-wf-answerBtn .vis-workflowActivityIcons.vis-icon-doneButton {
    width: 1.9em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vis-IIColumnContent .vis-home-wf-answerWrap .vis-home-wf-answerBtn {
    width: auto;
}
.historyArrow{
    display:flex;
}
    .historyArrow .vis {
        font-size: 0.9375em;
    }
ul.vis-IIColumnContent li .vis-home-wf-forwardInput {
    width:87%;
}
.vis-vertical-img{position:relative;}
.vis-vertical-img img{display:none;}
    .vis-vertical-img::before {
        content: " ";
        display: block;
        height: 2.5em;
        width: 0.25em;
        background-color: rgba(var(--v-c-primary), 1);
        margin: auto;
    }
.vis-approved_wrap{display:flex; align-items:center; position:relative;}
.vis-approved_wrap{background:transparent;}
    .vis-approved_wrap::before {
        content: " ";
        display: block;
        height: 100%;
        width: 0.25em;
        background-color: rgba(var(--v-c-primary), 1);
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
    }
    .vis-approved_wrap .vis-ApproveCircleCls {
        position: absolute;
        content: " ";
        display: block;
        border-radius: 100%;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1.6em;
        height: 1.6em;
        border: 0.125em solid rgba(var(--v-c-primary), 1);
        background-color: rgba(var(--v-c-common), 1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
.vis-ApproveCircleCls .vis {
    font-size: .875em;
    color: rgba(var(--v-c-primary), 1);
}
.vis-pending_wrap{position:relative; background:transparent; }
    .vis-pending_wrap::before {
        display: flex;
        width: 1.6em;
        height: 1.6em;
        border-radius: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        content: " ";
        border: 0.125em solid rgba(var(--v-c-primary), 1);
    }
    .vis-pending_wrap::after {
        display: block;
        content: " ";
        width: 0.6em;
        height: 0.6em;
        border-radius: 100%;
        background-color: rgba(var(--v-c-primary), 1);
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
    }

.vis-start_wrap{position:relative; background:transparent; overflow:inherit;}
.vis-start_wrap::after {
    display: block;
    content: " ";
    width: 0.6em;
    height: 0.6em;
    border-radius: 100%;
    background-color: rgba(var(--v-c-primary), 1);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.vis-right-part .vis-app_by {
    display:block;
}
.vis-feedTitleBar h3 {
    font-size: 0.875em;
}
.vis-feedDetails pre {
    font-size: 0.75em;
}
.frm-data-col-wrap select{font-size:0.75em;}
.vis-editModeWidget .vis-welcomeScreenFeeds {
    font-size: 10px;
}
.vis-editModeWidget .workflow-homepage-activites {
    height: calc(100% - 8.8em);
}
.vis-workflowActivityDetails h3 {
    font-size: 1.125em;
}
.vis-IIColumnContent .vis-input-wrap select ~ label {
    font-size: 0.75em;
}
.vis-IIColumnContent .vis-input-wrap input:not(:placeholder-shown) ~ label {
    font-size: 0.75em;
}
.vis-input-wrap textarea {
    font-size: 0.875em
}


@media screen and (max-width:1400px) {
    .workflow-homepage-parentdiv .frm-data-search-wrap{
        display:flex; align-items:center;
    }
}
@media screen and (max-width:1366px) {
    .vis-editModeWidget .vis-welcomeScreenFeeds {
        font-size:9px
    }
    .vis-editModeWidget .workflow-Activity {
        font-size:12px;
    }
}
@media screen and (max-width:1024px) {
    .vis-welcomeScreenFeeds{font-size:10px;}
    .vis-editModeWidget .vis-welcomeScreenFeeds {
        font-size: 6px;
    }
    .vis-activityContainer{font-size:11px;}
    .workflow-homepage-activites {
        height: calc(100% - 9em);
    }   
}
@media screen and (max-width:900px) {
    .workflow-homepage-parentdiv{font-size:13px;}
    .vis-activityContainer { font-size: 13px; }
    .vis-editModeWidget .vis-welcomeScreenFeeds {font-size: 9px;}
}
@media screen and (max-width:680px) {
    .vis-welcomeScreenFeeds {
        font-size: 8px;
    }
    .workflow-homepage-activites {
        height: calc(100% - 10em);
    }
    .workflow-Activity {
        font-size: 11px;
    }
}
@media screen and (max-width:480px) {
    .vis-welcomeScreenFeeds {
        font-size: 14px;
    }
    .workflow-Activity {
        font-size: 13px;
    }
}

@media screen and (max-width:350px) {
    .vis-welcomeScreenFeeds {
        font-size: 10px;
    }   
}
@media screen and (max-width:320px) {
    .vis-welcomeScreenFeeds {
        font-size: 9px;
    }
    .workflow-Activity {
        font-size: 11px;
    }
    .vis-workflowActivityDetails h3 {
        font-size: 0.875em;
    }
}
/*NoticeWidget*/

