@model   VIS.Models.HomeModels

<div class="container-fluid" id="dataContainer">
    <div class="row scrollerHorizontal">
       HEllo
    </div>
</div>
<div class="vis-apanel-busy" id="divfeedbsy" style="width: 98%; height: 98%; text-align: center; position: relative; visibility: hidden; z-index: 6;"></div>

