
    <div class="vis-ad-w-p-titleLanding">
        <div class="vis-ad-w-p-t-name">
            <h5></h5>
        </div>
        <div class="vis-ad-w-p-t-toolbar justify-content-start ml-3">
            <i class="fa fa-th-large mr-3 vis-landingpage vis-color-primary" aria-hidden="true"></i><div class="arrow-upicon"></div> |
            <i class="fa fa-window-maximize ml-3 vis-windowpage vis-color-primary" aria-hidden="true"></i>
            <div class="vis-landingpageEdit">
                <i class="fa fa-th-large mr-2"></i><u class="mr-3 vis-color-primary">Edit</u>
            </div>
        </div>
        <div class="vis-ad-w-p-t-close">
          
            <i class="vis vis-cross"></i>
        </div>
    </div>
    <div class="vis-landingpage-body pl-1 pr-1">
        <div class="scrollerHorizontalWidget">
            <div class="vis-home-leftPanel">
            </div>            
            <div class="vis-home-rightPanel">
                <div class="vis-widget-header">
                    <h4>Widgets</h4>
                    <span class="vis vis-cross btnCloseWidget"></span>
                </div>
                <div class="vis-widget-body">
                    <div class="vis-widgetDrag-container">


                    </div>
                </div>
            </div>
        </div>
    </div>


